.parrafo-detalle{
    font-size: 14px;
}
.icon_favorite{
    font-size: 22px;
    color:#ffc107;
}
.icon_favorite:hover{
    color:#ffc107;
}
.fa-facebook{
    color: #25367b;

}
.fa-twitter-square{
    color: #0accee;
}

.fa-google-plus-square{
    color:#d34836;
}

.fa-linkedin{
    color:#0e76a8;
}

.fa-whatsapp-square{
    color:#25d366;
}

.social-links,ul
{
   padding-right: 0px;
   padding-left: 0px;
   padding-bottom: 0px;
   padding-top: 0px;
   margin: 0px;
}

.social-links,li
{
   list-style-type: none;
   display: inline;
   padding-right: 5px;
}