@font-face{
    font-family: Arial Rounded MT Bold;
    src:url(../fonts/Arial-Rounded-MT-Bold.ttf);
}
.font-nuevo{
    font-family: Arial Rounded MT Bold;
}

@font-face{
    font-family: AllerDisplay;
    src:url(../fonts/AllerDisplay.ttf);
}

.aller_display{
    font-family: AllerDisplay;
}

@font-face{
    font-family: Segoe UI Semilight;
    src:url(../fonts/segoeuisl.ttf);
}

.SegoeUil{
    font-family: Segoe UI Semilight;
}
