.fondo_portal {
    background-color: #f5f5f5 !important;
    /*00a4d3   {{ route('login') }} */
    font-family: GalanoGrotesqueAlt-Regular;
}

.title {
    display: inline;
    position: absolute;
    z-index: 1;
}

.title:hover:after {
    bottom: 26px;
    content: attr(rel);
    ;
    /* este es el texto que será mostrado */
    left: 20%;
    position: absolute;
    z-index: 98;
    /* el formato gráfico */
    background: #A4A4A4;
    /* rgba(255,255,255, 0.2);  el color de fondo */
    border-radius: 5px;
    color: #FFF;
    /* el color del texto */
    font-family: Georgia;
    font-size: 12px;
    padding: 5px 15px;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
    width: 150px;
}

.title:hover:before {
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 1;
    /* el triángulo inferior */
    border: solid;
    border-color: #A4A4A4 transparent;
    border-width: 6px 6px 0 6px;
}

#Text_Formt b {
    font-family: Galano Grotesque Medium;
    font-size: 18px;
}

#Text_Formt p {
    font-family: Galano-Grotesque Light;
    font-size: 17px;
}

#Text_Formt h4 {
    font-family: Galano Grotesque Black;
}


/*agregado por hildebrando */

.table-responsive-mobile {
    min-height: .01%;
    overflow-x: auto;
}

[button] {
    width: 60%;
    margin-left: 25%;
    position: absolute;
    padding: 0px;
    margin-top: 10px;
}

[footer] {
    color: #FFF;
    text-align: center;
    background-color: #333;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

[p_wrap] {
    overflow-wrap: break-word !important;
}

@media (max-width: 767px) {
    .hidden-mobile {
        display: none;
    }
    [footer] {
        background-color: #333;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    [discapacidad_form] {
        font-size: auto;
    }
}

@media (min-width: 200px) and (max-width: 500px) {
    .show-mobile {
        color: #00A39C;
        margin-left: 10%;
    }
    .button-mobile {
        margin-left: -3rem;
        margin-top: 1rem;
        font-size: 11.5px;
    }
    [modificar_mobile] {
        margin-left: -3rem;
        margin-top: -2rem;
        font-size: 11.5px;
        margin-bottom: 2em;
    }
    [mod_mobile] {
        margin-top: -3rem;
    }
    [social_media] {
        margin-top: -15%;
        color: #fff;
    }
    [discapacidad_form] {
        font-size: auto;
    }
}

@media (min-width: 500px) {
    .show-mobile {
        display: none;
    }
    .button-mobile {
        display: none;
    }
    [modificar_mobile] {
        display: none;
    }
    [mod_mobile] {
        display: none;
    }
    [contactos_mobile] {
        display: none;
    }
    [social_media] {
        display: none;
    }
    [hidden-form] {
        display: none;
    }
    [discapacidad_form] {
        display: none;
    }
}