.lista-avisos {
    display: block;
    overflow: hidden;
}

.lista-avisos ul li h3 {
    color: #e21a22;
    font-size: 18px;
    padding-left: 30px;
    font-weight: bold;
    margin-top: 0;
}

.lista-avisos ul {
    display: block;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.lista-avisos ul li {
    display: block;
    overflow: hidden;
    /*  border: 1px solid #a7a5a5;*/
}

.lista-avisos ul li .name-emp {
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    font-size: 16px;
}

li p {
    padding: 0;
    margin: 0;
    font-size: 12px;
}

a.btn-postular {
    display: inline-block;
    background: #e21a22;
    color: #fff;
}

.wrapper-home h2 {
    color: #ffffff;
    font-size: 25px;
    padding-top: 0;
}

footer {
    height: 50%;
    color: white;
    padding: 15px;
}

.main1 {
    display: flex;
    margin: 0 auto;
}

a img:hover {
    color: #fff;
}

.redes_sociales {
    color: #b3b4b3;
    width: 25px;
}

.titulo_aviso {
    padding: 20px;
    color: #00a4d3;
}

.menu_lista {
    list-style: none;
}

.footer_lista {
    padding-top: 25px;
    font-size: 12px;
}

.btn_portal {
    background-color: #00a4d3;
    font-size: 18px;
    width: 100%;
    color: #fff;
    border-radius: 10px !important;
}

.card {
    margin-left: 2px;
    margin-right: 2px;
}

.footer_card {
    text-align: center;
    color: #fff;
}

.head_card {
    text-align: center;
    color: black;
}

.card-text {
    font-size: 13px;
}

.card-deck {
    margin-bottom: 30px;
}

.container-lista-vacantes {
    background-color: #e6e6e6;
}

.footer {
    padding: 0px !important;
}

.nav-link {
    color: black;
    background-color: none !important;
    border-color: #dee2e6;
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
}

.nav-link:hover {
    color: #003dc7;
    background-color: none !important;
    border-color: #003dc7;
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
}

.titulo_aviso-primero {
    color: #006dc7;
    padding: 0px;
}

.fondo-card-portal {
    background-color: #006dc7 !important;
}

.bg-transparent {
    background-color: #fff !important;
}

.card-portal {
    border: solid 1px #006dc7;
}

.nav-sub {
    border-radius: .40rem !important;
}

.border-circulo {
    border-radius: .99rem !important;
}

.titulo_login {
    background-color: #003dc7;
    color: #fff;
    padding: 10px;
}

.titulo_login_segundo {
    text-align: center;
    color: #003dc7;
    padding: 15px;
}

.icono-login {
    width: 70%;
}

.icon-login {
    color: #17a2b8;
}

.btn_portal:hover {
    color: #fff;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
    margin-right: 50px;
    margin-bottom: 10px;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    margin-right: 50px;
    margin-bottom: 10px;
    border-color: #003dc7 !important;
    background-color: white!important;
}

.color_letra {
    color: #00a4d3;
}

.background_color {
    background-color: #003dc7 !important;
}

.border_color {
    background-color: #003dc7 !important;
}

.border_color h3 {
    color: white;
    font-size: 20px !important;
}

.btn-default {
    color: black;
    background-color: #eaf3f4;
    ;
    border-color: #eaf3f4;
    ;
}

.btn.btn-file>input[type='file'] {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 100px;
    text-align: right;
    opacity: 0;
    filter: alpha(opacity=0);
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.forulario .form-group {
    border-color: #fff;
    margin-bottom: 0.2rem !important;
}

.sumTitle {
    color: #17a2b8!important;
}

#footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 40px;
    width: 100%;
}

header {
    position: fixed;
    left: 0px;
    margin-top: 0px;
    height: 40px;
    width: 100%;
}

.ui-widget-content {
    border: 0px solid #aaaaaa;
}

.mje,
.mje2,
.mje3,
.mje4 {
    float: left;
}

.textopequenio {
    font-size: 10px
}

.btn_color {
    background-color: #003dc7 !important;
    color: white
}

.btn_file {
    width: 150px;
    height: 150px;
    background-color: #fefeff;
    border: 1px solid #17a2b8;
    text-align: center;
    text-transform: uppercase;
}


/*

input[type="password"] {
    border: 1px solid #17a2b8;
    outline: 0;
    box-shadow: none;
    border: #fff;
        border-bottom-color: rgb(255, 255, 255);
        border-bottom-style: none;
        border-bottom-width: medium;
    border-bottom-color: #17a2b8;
    border-bottom: 1px solid #17a2b8;
        border-bottom-color: rgb(23, 162, 184);
    border-bottom-color: #17a2b8;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input[type="password"]::-webkit-input-placeholder { text-transform: uppercase; } 
 
input[type="password"]::-moz-placeholder {  text-transform: uppercase;} 
 
input[type="password"]::-moz-placeholder {text-transform: uppercase; } 
 
input[type="password"]::-ms-input-placeholder { text-transform: uppercase; }
input[type="password"]:focus::-webkit-input-placeholder{color:transparent;}
input[type="password"]:focus {
 border-bottom:2px solid  #17a2b8;
    outline: 0;
    box-shadow: none;
    border-color: #fff;
    border-bottom-color: #17a2b8; 
}
input[type="password"]:hover  {
    border-bottom:2px solid  #17a2b8;
       outline: 0;
       box-shadow: none;
       border-color: #fff;
       border-bottom-color: #17a2b8; 
   }
*/

.circulo {
    -moz-border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    border-radius: 50% !important;
    background: #003dc7 !important;
}

.card-deck .card {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 2px;
    margin-bottom: 0;
    margin-left: 2px;
}

.h6,
h6 {
    font-size: 0.8rem;
}

.card-deck {
    margin-bottom: 4px;
}

.table-primary,
.table-primary>td,
.table-primary>th {
    background-color: #3490dc;
    color: #ffffff;
}


/*
.container{
    max-width: 800px;
}*/

.btn_regresar {
    background-color: #00a4d3;
    font-size: 13px;
    color: #fff;
    border-radius: 10rem !important;
    border: solid 1px #00a4d3;
    padding: 3px;
}

.btn_regresar:hover {
    background-color: #fff;
    font-size: 13px;
    color: #00a4d3;
    border-radius: 10rem !important;
    border: solid 1px #00a4d3;
    padding: 3px;
}

.btn_buscar {
    background-color: #003dc7;
    font-size: 13px;
    color: #fff;
    border-radius: 10rem !important;
    border: solid 1px #003dc7;
    padding: 3px;
}

.btn_buscar:hover {
    background-color: #fff;
    font-size: 13px;
    color: #003dc7;
    border-radius: 10rem !important;
    border: solid 1px #003dc7;
    padding: 3px;
}

.select-style {
    border: solid 1px #BDBDBD;
    background-color: #fff;
}

.degrade-azul {
    background: rgba(0, 61, 135, 1);
    background: -moz-linear-gradient(left, rgba(0, 61, 135, 1) 0%, rgba(0, 60, 199, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0, 61, 135, 1)), color-stop(100%, rgba(0, 60, 199, 1)));
    background: -webkit-linear-gradient(left, rgba(0, 61, 135, 1) 0%, rgba(0, 60, 199, 1) 100%);
    background: -o-linear-gradient(left, rgba(0, 61, 135, 1) 0%, rgba(0, 60, 199, 1) 100%);
    background: -ms-linear-gradient(left, rgba(0, 61, 135, 1) 0%, rgba(0, 60, 199, 1) 100%);
    background: linear-gradient(to right, rgba(0, 61, 135, 1) 0%, rgba(0, 60, 199, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#003d87', endColorstr='#003cc7', GradientType=1);
    color: #fff;
}

.degrade-griss {
    background: rgba(180, 180, 180, 1);
    background: -moz-linear-gradient(top, rgba(180, 180, 180, 1) 0%, rgba(160, 160, 160, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(180, 180, 180, 1)), color-stop(100%, rgba(160, 160, 160, 1)));
    background: -webkit-linear-gradient(top, rgba(180, 180, 180, 1) 0%, rgba(160, 160, 160, 1) 100%);
    background: -o-linear-gradient(top, rgba(180, 180, 180, 1) 0%, rgba(160, 160, 160, 1) 100%);
    background: -ms-linear-gradient(top, rgba(180, 180, 180, 1) 0%, rgba(160, 160, 160, 1) 100%);
    background: linear-gradient(to bottom, rgba(180, 180, 180, 1) 0%, rgba(160, 160, 160, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#b4b4b4', endColorstr='#a0a0a0', GradientType=0);
}

.degrade-rojo {
    background: rgba(206, 0, 0, 1);
    background: -moz-linear-gradient(left, rgba(176, 0, 2, 1) 0%, rgba(253, 0, 2, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(176, 0, 2, 1)), color-stop(100%, rgba(253, 0, 2, 1)));
    background: -webkit-linear-gradient(left, rgba(176, 0, 2, 1) 0%, rgba(253, 0, 2, 1) 100%);
    background: -o-linear-gradient(left, rgba(176, 0, 2, 1) 0%, rgba(253, 0, 2, 1) 100%);
    background: -ms-linear-gradient(left, rgba(176, 0, 2, 1) 0%, rgba(253, 0, 2, 1) 100%);
    background: linear-gradient(to right, rgba(176, 0, 2, 1) 0%, rgba(253, 0, 2, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#1A4A84', endColorstr='#1A4A84', GradientType=1);
}

.degrade-naraja {
    background: rgba(216, 81, 3, 1);
    background: -moz-linear-gradient(left, rgba(216, 81, 3, 1) 0%, rgba(245, 132, 52, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(216, 81, 3, 1)), color-stop(100%, rgba(245, 132, 52, 1)));
    background: -webkit-linear-gradient(left, rgba(216, 81, 3, 1) 0%, rgba(245, 132, 52, 1) 100%);
    background: -o-linear-gradient(left, rgba(216, 81, 3, 1) 0%, rgba(245, 132, 52, 1) 100%);
    background: -ms-linear-gradient(left, rgba(216, 81, 3, 1) 0%, rgba(245, 132, 52, 1) 100%);
    background: linear-gradient(to right, rgba(216, 81, 3, 1) 0%, rgba(245, 132, 52, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#d85103', endColorstr='#f58434', GradientType=1);
}

.degrade-barrick {
    background: rgba(10, 27, 43, 1);
    background: -moz-linear-gradient(left, rgba(10, 27, 43, 1) 0%, rgba(0, 45, 75, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(10, 27, 43, 1)), color-stop(100%, rgba(0, 45, 75, 1)));
    background: -webkit-linear-gradient(left, rgba(10, 27, 43, 1) 0%, rgba(0, 45, 75, 1) 100%);
    background: -o-linear-gradient(left, rgba(10, 27, 43, 1) 0%, rgba(0, 45, 75, 1) 100%);
    background: -ms-linear-gradient(left, rgba(10, 27, 43, 1) 0%, rgba(0, 45, 75, 1) 100%);
    background: linear-gradient(to right, rgba(10, 27, 43, 1) 0%, rgba(0, 45, 75, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0a1b2b', endColorstr='#002d4b', GradientType=1);
}

.redondeado {
    border-radius: 10px !important;
    font-size: 12px;
}

body {
    background-color: #EBEBEB;
}

.th-top {
    font-size: 13px;
    border-top: none !important;
}

.td-top {
    font-size: 12px;
    border-top: none !important;
}

.color-rojo {
    color: #1A4A84!important;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 736px) {
    .text-banner {
        display: block!important;
        bottom: 0px;
        top: 50%;
        left: 10% !important;
    }
    .text-banner h1 {
        font-size: 12px;
    }
    .text-banner h4 {
        font-size: 15px;
        display: none;
    }
    .text-banner h5 {
        font-size: 11px;
        display: none;
    }
}


/*agregado por hildebrando */

.table-responsive-mobile {
    min-height: .01%;
    overflow-x: auto;
}

[button] {
    width: 60%;
    margin-left: 25%;
    position: absolute;
    padding: 0px;
    margin-top: 10px;
}

[footer] {
    color: #FFF;
    text-align: center;
    background-color: #333;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

[p_wrap] {
    overflow-wrap: break-word !important;
}

@media (max-width: 767px) {
    .hidden-mobile {
        display: none;
    }
    [footer] {
        background-color: #333;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    [discapacidad_form] {
        font-size: auto;
    }
}

@media (min-width: 200px) and (max-width: 500px) {
    .show-mobile {
        color: #00A39C;
        margin-left: 10%;
    }
    .button-mobile {
        margin-left: -3rem;
        margin-top: 1rem;
        font-size: 11.5px;
    }
    [modificar_mobile] {
        margin-left: -3rem;
        margin-top: -2rem;
        font-size: 11.5px;
        margin-bottom: 2em;
    }
    [mod_mobile] {
        margin-top: -3rem;
    }
    [social_media] {
        margin-top: -15%;
        color: #fff;
    }
    [discapacidad_form] {
        font-size: auto;
    }
}

@media (min-width: 500px) {
    .show-mobile {
        display: none;
    }
    .button-mobile {
        display: none;
    }
    [modificar_mobile] {
        display: none;
    }
    [mod_mobile] {
        display: none;
    }
    [contactos_mobile] {
        display: none;
    }
    [social_media] {
        display: none;
    }
    [hidden-form] {
        display: none;
    }
    [discapacidad_form] {
        display: none;
    }
}