.container, .page-center {
    max-width: 1200px;
    padding: 0 10px;
    width: 100%;
    position: relative;
}
body,
html {
    height: 100%
}

.footer {
    position: absolute;
    bottom: 0;
    height: 485px
}
.header-checkout .logo-checkout {
    margin-top: 0!important
}
.header-checkout .secure {
    font-family: gilroy-regular, arial;
    color: #323232;
    font-size: 14px;
    top: 3px;
    position: absolute;
    right: 15px;
    line-height: normal;
    padding-left: 34px;
    width: 125px
}
@media (max-width: 736px) {
    .header-checkout .secure {
        font-size: 12px;
        padding-left: 30px;
        width: 110px;
        top: 5px
    }
}
.header-checkout .secure strong {
    font-family: gilroy-bold, arial
}
.header-checkout .secure:before {
   /* Font-family: "iconos-plazavea"!important;
    content: attr(data-icon);
    font-style: normal!important;
    font-weight: 400!important;
    font-variant: normal!important;
    text-transform: none!important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f7c0";*/
    font-size: 33px;
   /* top: 0;
    left: 0;
    position: absolute*/
}
@media (max-width: 736px) {
    .header-checkout .secure:before {
        font-size: 27px
    }
}
.header-checkout {
    border-bottom: 1px solid #c8c8c8;
    padding: 10px 0 13px;
    height: 60px
}
.header-checkout .logo-checkout img {
    max-height: 39px;
    max-width: 130px
}
@media (max-width: 768px) {
    body.body-order-form #orderform-title:after {
        font-size: 22px;
        line-height: 22px
    }
}
@media (max-width: 425px) {
    body.body-order-form #orderform-title:after {
        font-size: 20px;
        line-height: 20px
    }
}


body.body-cart .fields-to-accept-before-go {
    display: none;
    position: absolute;
    width: 310px;
    right: 20px;
    bottom: 67px
}
body.body-cart .fields-to-accept-before-go .field-to-accept {
    font-size: 11px;
    float: left;
    margin-bottom: 8px
}
@media (max-width: 767px) {
    body.body-cart .fields-to-accept-before-go {
        position: static;
        background-color: #f7f7f5;
        margin: 0;
        padding: 10px;
        width: 100%
    }
    body.body-cart .fields-to-accept-before-go .field-to-accept {
        float: none;
        margin: 0 auto 8px
    }
}
body.body-cart .btn-sucess {
    background-color: #d82a29;
    border-radius: 10px;
    height: auto;
    padding: 20px 0;
    line-height: 1.4;
    top: 0;
    font-size: 23px;
    font-weight: 500
}
body.body-cart .btn-success:before {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 10%
}


.substituto-titulo h3 {
    display: none
}
@media screen and (max-width: 1180px) {
    body.body-cart #substituto-general .substituto-titulo {
        width: 52%;
        margin-top: 0
    }
}
@media screen and (max-width: 1024px) {
    body.body-cart #substituto-general .substituto-titulo {
        width: 48%
    }
}
@media screen and (max-width: 940px) {
    body.body-cart #substituto-general .substituto-titulo {
        width: 40%
    }
    .body.body-cart #substituto-general .substituto-options {
        margin: 0 0 10px
    }
}
@media screen and (max-width: 830px) {
    body.body-cart #substituto-general .substituto-titulo {
        width: 30%
    }
}
@media screen and (max-width: 736px) {
    body.body-cart #substituto-general .substituto-titulo {
        width: 100%
    }
}

.container-cart .summary-coupon-wrap {
    box-sizing: border-box;
    float: left;
    padding: 10px;
    width: auto
}
@media (max-width: 736px) {
    .container-cart .summary-coupon-wrap {
        width: 100%;
        float: none
    }
}
.container-cart .summary-coupon-wrap .coupon {
    width: 300px;
    float: left
}
@media (max-width: 736px) {
    .container-cart .summary-coupon-wrap .coupon {
        float: none
    }
}
.container-cart .summary-coupon-wrap .link-coupon-add {
    display: none
}
.container-cart .summary-coupon-wrap .coupon-form {
    position: relative
}
.container-cart .summary-coupon-wrap p.coupon-label label {
    font-size: 0;
    margin-bottom: 10px
}
.container-cart .summary-coupon-wrap p.coupon-label label:after {
    content: "¿Tienes un cupón o vale de descuento?";
    display: inline-block;
    font-family: gilroy-bold, arial;
    font-size: 15px
}
.container-cart .summary-coupon-wrap .coupon-fieldset>div {
    overflow: hidden;
    display: block!important
}
.container-cart .summary-coupon-wrap .coupon-fieldset span.info span {
    display: inline-block;
    border-top: 1px solid #c6c6c6;
    height: 36px;
    line-height: 36px;
    border-bottom: 1px solid #c6c6c6
}
.container-cart .summary-coupon-wrap #cart-coupon {
    border: 1px solid #c6c6c6;
    font-family: gilroy-medium, arial;
    font-size: 14px;
    padding: 5px;
    height: 36px;
    line-height: 36px;
    width: 195px;
    color: #949494;
    border-radius: 0
}
@media (max-width: 736px) {
    .container-cart .summary-coupon-wrap #cart-coupon {
        width: 160px
    }
}
.container-cart .summary-coupon-wrap #cart-coupon:focus {
    box-shadow: none
}
.container-cart .summary-coupon-wrap #cart-coupon-add {
    display: none!important;
    margin-left: 15px;
    box-shadow: none;
    background-image: none;
    text-shadow: none;
    border: 1px solid #d61414;
    font-size: 0;
    border-radius: 20px;
    background-color: #fff;
    height: 36px;
    width: 75px;
    text-align: center
}
.container-cart .summary-coupon-wrap #cart-coupon-add:focus {
    outline: none
}
.container-cart .summary-coupon-wrap #cart-coupon-add:hover {
    color: #fff;
    background-color: #df1504
}
.container-cart .summary-coupon-wrap #cart-coupon-add:hover:after {
    color: #fff
}
.container-cart .summary-coupon-wrap #cart-coupon-add:after {
    content: "Aplicar";
    color: #d61414;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    font-family: gilroy-medium, arial
}
.container-cart .summary-coupon-wrap #cart-coupon-remove {
    border: 1px solid #d61414;
    border-radius: 20px;
    background-color: #fff;
    font-size: 14px;
    width: 75px;
    margin-left: 10px;
    text-align: center;
    color: #d61414;
    font-family: gilroy-medium, arial;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    vertical-align: top
}
.container-cart .summary-coupon-wrap #cart-coupon-remove:hover {
    color: #fff;
    text-decoration: none;
    background-color: #df1504
}
.container-cart .summary-coupon-wrap #cart-coupon-remove:hover:after {
    color: #fff
}
body.body-cart {
    font-family: gilroy-regular, arial
}
@media (max-width: 490px) {
    body.body-cart .checkout-container {
        padding: 0 10px
    }
}
body.body-cart #cart-title {
    color: #df1504;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f0f0f0;
    font-size: 0;
    font-family: gilroy-bold, arial;
    margin-left: 0
}
@media (max-width: 490px) {
    body.body-cart #cart-title {
        padding-left: 10px
    }
}
body.body-cart #cart-title:before {
    background-size: 92px 917px;
    background-position: 0 -183px;
    display: inline-block;
    content: "";
    width: 35px;
    height: 31px
}
body.body-cart #cart-title:after {
    content: "Mi Carrito";
    font-family: gilroy-bold, arial;
    color: #df1504;
    display: inline-block;
    font-size: 25px;
    width: auto;
    padding-left: 7px;
    position: absolute;
    top: 16px;
    margin-left: 0
}
.go-to-cart-button span a:after {
    content: 'Volver al carrito';
     font-family: gilroy-bold, arial;
    font-size: 15px;
    display: block;
    top: 0;
    position: absolute
}
body.body-cart .go-to-cart-button span {
   /* background-color: #fff;
    color: #323232;*/
    height: 20px;
    width: 155px;
    position: absolute;
    right: 15px;
    top: 21px;
    z-index: 2;
    opacity: 1
}

body.body-cart #cart-title .link-choose-more-products-wrapper {
    opacity: 1
}
body.body-cart .link-choose-more-products-wrapper {
    background-color: #fff;
    color: #323232;
    height: 20px;
    width: 155px;
    position: absolute;
    right: 15px;
    top: 21px;
    z-index: 2;
    opacity: 0
}
@media (max-width: 490px) {
    body.body-cart .link-choose-more-products-wrapper {
        width: 22px
    }
    body.body-cart .go-to-cart-button span{
      width: 22px
    }
}
body.body-cart .link-choose-more-products-wrapper a {
    margin: 0;
    font-size: 0;
    line-height: 20px;
    height: 20px;
    padding: 0;
    display: block;
    font-family: gilroy-bold, arial;
    padding-left: 23px
}
@media (max-width: 490px) {
    body.body-cart .link-choose-more-products-wrapper a {
        right: auto;
        left: 0;
        bottom: 5px
    }
    body.body-cart .go-to-cart-button span{
     right: auto;
        left: 0;
        bottom: 5px 
    }
}
body.body-cart .link-choose-more-products-wrapper a:before {
    background-size: 46px 479px;
    background-position: -2px -287px;
    height: 18px;
    width: 21px;
    content: "";
    display: block;
    bottom: 0;
    left: 0;
    position: absolute
}
body.body-cart .link-choose-more-products-wrapper a:after {
    content: "Seguir comprando";
    font-family: gilroy-bold, arial;
    font-size: 15px;
    display: block;
    top: 0;
    position: absolute
}
@media (max-width: 490px) {
    body.body-cart .link-choose-more-products-wrapper a:after {
        font-size: 0
    }
    body.body-cart .go-to-cart-button span a:after{
      font-size: 0
    }
}
body.body-cart .link-choose-more-products-wrapper a:hover {
    color: #df1504;
    text-decoration: initial
}


body.body-cart .cart-template-holder {
    padding-bottom: 195px
}
@media (max-width: 736px) {
    body.body-cart .cart-template-holder {
        padding-bottom: 0
    }
}
body.body-cart .cart-template-holder .cart {
    border: none;
    border-radius: 0;
    margin-top: 0;
    padding: 0
}
body.body-cart .cart-template-holder .cart table {
    font-family: gilroy-regular, arial;
    color: #505050
}
@media (max-width: 490px) {
    body.body-cart .cart-template-holder .cart table {
        display: table
    }
}
body.body-cart .cart-template-holder .cart table thead {
    background-color: #f8f8f8;
    color: #787878;
    text-transform: uppercase;
    font-size: 14px;
    border: 1px solid #f0f0f0
}
@media (max-width: 490px) {
    body.body-cart .cart-template-holder .cart table thead {
        display: table-header-group
    }
}
body.body-cart .cart-template-holder .cart table thead th {
    padding: 7px 10px;
    vertical-align: middle;
    text-align: right
}
@media (max-width: 1024px) {
    body.body-cart .cart-template-holder .cart table thead th {
        display: none
    }
}
body.body-cart .cart-template-holder .cart table thead th.product {
    text-align: left
}
body.body-cart .cart-template-holder .cart table thead th.quantity {
    text-align: center
}
body.body-cart .cart-template-holder .cart table thead th.shipping-date {
    text-align: left;
    font-size: 0
}
@media (max-width: 1024px) {
    body.body-cart .cart-template-holder .cart table thead th.shipping-date {
        display: block
    }
}
@media (max-width: 490px) {
    body.body-cart .cart-template-holder .cart table thead th.shipping-date {
        display: block;
        width: 100%
    }
}
@media (max-width: 425px) {
    body.body-cart .cart-template-holder .cart table thead th.shipping-date {
        position: relative!important
    }
}
body.body-cart .cart-template-holder .cart table tbody tr.product-item {
    border-bottom: 1px solid #ebebeb;
    height: 94px
}
@media (max-width: 1024px) {
    body.body-cart .cart-template-holder .cart table tbody tr.product-item {
        display: block;
        border: 1px solid #afafaf;
        border-radius: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        position: relative;
        overflow: hidden;
        padding: 0 10px 90px;
        height: auto
    }
}
body.body-cart .cart-template-holder .cart table tbody tr.item-attachments-head td {
    padding: 0!important
}
body.body-cart .cart-template-holder .cart table tbody tr.item-attachments-head .item-attachments-header {
    display: none
}
body.body-cart .cart-template-holder .cart table tbody tr.item-attachments-content {
    display: table-row
}
body.body-cart .cart-template-holder .cart table tbody tr.item-attachments-content .item-attachments-item-image {
    display: none
}
body.body-cart .cart-template-holder .cart table tbody tr.item-attachments-content .item-attachments-item-fields .item-attachment {
    width: 100%
}
body.body-cart .cart-template-holder .cart table tbody tr.item-attachments-content .item-attachments-item-fields .item-attachment .item-attachment-name-label {
    display: none
}
body.body-cart .cart-template-holder .cart table tbody tr.item-attachments-content .item-attachments-item-fields .item-attachment .item-attachment-value-container textarea {
    height: 40px;
    width: 100%;
    border: none;
    overflow: auto;
    outline: none;
    box-shadow: none
}
body.body-cart .cart-template-holder .cart table tbody tr.item-attachments-content .item-attachments-item-fields .item-attachment .item-attachment-value-container .item-attachment-max-length,
body.body-cart .cart-template-holder .cart table tbody tr.item-attachments-content .item-remove .item-link-remove {
    display: none
}
@media (max-width: 1024px) {
    body.body-cart .cart-template-holder .cart table tbody tr.is-replaceable .shipping-date {
        display: block!important
    }
    body.body-cart .cart-template-holder .cart table tbody tr.is-replaceable .product-price,
    body.body-cart .cart-template-holder .cart table tbody tr.is-replaceable .quantity,
    body.body-cart .cart-template-holder .cart table tbody tr.is-replaceable .quantity-price {
        margin-bottom: 90px
    }
}
body.body-cart .cart-template-holder .cart table tbody tr.is-collapsed {
    border-bottom: 0
}
@media (max-width: 1024px) {
    body.body-cart .cart-template-holder .cart table tbody tr.is-collapsed {
        height: 0;
        margin-top: 0;
        margin-bottom: 0;
        border: 0
    }
}
body.body-cart .cart-template-holder .cart table tbody tr.is-collapsed td {
    padding-top: 0;
    padding-bottom: 0;
    background: none
}
body.body-cart .cart-template-holder .cart table tbody tr.is-collapsed td .collapse-wrapper {
    padding: 8px 0;
    opacity: 1;
    max-height: 100px;
    animation-duration: .2s;
    animation-fill-mode: forwards;
    transition-timing-function: ease-out;
    overflow: hidden
}
body.body-cart .cart-template-holder .cart table tbody td {
    padding: 7px 10px
}
@media (max-width: 1024px) {
    body.body-cart .cart-template-holder .cart table tbody td {
        float: left;
        display: block;
        width: 100%
    }
}
body.body-cart .cart-template-holder .cart table tbody td.product-image {
    width: 8%;
    text-align: center;
    padding: 7px 10px 7px 20px;
    position: relative
}
@media (max-width: 1024px) {
    body.body-cart .cart-template-holder .cart table tbody td.product-image {
        top: 0;
        left: 0;
        position: absolute;
        padding-top: 15px;
        width: 75px
    }
}
@media (max-width: 490px) {
    body.body-cart .cart-template-holder .cart table tbody td.product-image {
        width: 65px
    }
}
body.body-cart .cart-template-holder .cart table tbody td.product-image .product_checkbox {
    width: 14px;
    height: 14px;
    position: absolute;
    top: 24px;
    left: 4px;
    margin: 0
}
@media (max-width: 1024px) {
    body.body-cart .cart-template-holder .cart table tbody td.product-image .product_checkbox {
        top: 7px;
        left: 7px
    }
}
body.body-cart .cart-template-holder .cart table tbody td.product-image a {
    display: inline-block
}
body.body-cart .cart-template-holder .cart table tbody td.product-image a img {
    height: auto;
    max-width: 55px;
    width: 100%
}
body.body-cart .cart-template-holder .cart table tbody td.product-name {
    min-width: 110px;
    width: 27%
}
@media (max-width: 1024px) {
    body.body-cart .cart-template-holder .cart table tbody td.product-name {
        width: 100%;
        height: 80px;
        padding-left: 65px!important;
        box-sizing: border-box;
        padding-top: 15px;
        padding-right: 30px;
        border-bottom: 1px dashed #c8c8c8;
        margin-bottom: 10px
    }
}
@media (max-width: 490px) {
    body.body-cart .cart-template-holder .cart table tbody td.product-name {
        padding: 10px 0 0 55px!important;
        font-size: 12px;
        margin-left: 0
    }
}
body.body-cart .cart-template-holder .cart table tbody td.product-name.is-replaceable {
    width: 25%
}
@media (max-width: 1024px) {
    body.body-cart .cart-template-holder .cart table tbody td.product-name.is-replaceable {
        width: 100%
    }
}
body.body-cart .cart-template-holder .cart table tbody td.product-name a {
    color: #505050;
    font-size: 15px;
    line-height: 1.2
}
@media (max-width: 1024px) {
    body.body-cart .cart-template-holder .cart table tbody td.product-name a {
        font-size: 14px
    }
}
body.body-cart .cart-template-holder .cart table tbody td.product-name .add-item-attachment-container,
body.body-cart .cart-template-holder .cart table tbody td.product-name .brand,
body.body-cart .cart-template-holder .cart table tbody td.product-name .clone-item,
body.body-cart .cart-template-holder .cart table tbody td.product-name .clone-item-sep,
body.body-cart .cart-template-holder .cart table tbody td.product-name .seller {
    display: none
}
body.body-cart .cart-template-holder .cart table tbody td.shipping-date {
    text-align: left;
    font-size: 0;
    width: 22%;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 50%
}
@media (max-width: 1024px) {
    body.body-cart .cart-template-holder .cart table tbody td.shipping-date {
        width: 100%;
        position: absolute;
        height: 90px;
        left: 0;
        bottom: 0
    }
}
body.body-cart .cart-template-holder .cart table tbody td.shipping-date.is-loading {
    position: absolute!important
}
body.body-cart .cart-template-holder .cart table tbody td.shipping-date.is-loading:before {
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 3px;
    background-color: #fff;
    position: absolute
}
body.body-cart .cart-template-holder .cart table tbody td.shipping-date.is-loading:after {
    position: absolute;
    content: "";
    color: #afafaf;
    display: block;
    width: 20px;
    background-size: 20px 20px;
    height: 20px;
    background-repeat: no-repeat;
    top: 0;
    background-position: 0 0;
    right: 0;
    margin: auto;
    bottom: 0;
    left: 0;
    z-index: 999;
    text-align: center
}
body.body-cart .cart-template-holder .cart table tbody td.shipping-date.is-replaceable {
    width: 25%
}
@media (max-width: 1024px) {
    body.body-cart .cart-template-holder .cart table tbody td.shipping-date.is-replaceable {
        width: 33.3333%;
        width: 100%;
        position: absolute;
        height: 90px;
        bottom: 0;
        margin-left: -10px
    }
}
body.body-cart .cart-template-holder .cart table tbody td.product-price {
    font-size: 15px;
    line-height: 15px;
    text-align: right;
    width: 14%
}
@media (max-width: 1024px) {
    body.body-cart .cart-template-holder .cart table tbody td.product-price {
        width: 34%;
        height: auto;
        padding-top: 25px;
        margin-right: 0;
        padding-left: 0
    }
    body.body-cart .cart-template-holder .cart table tbody td.product-price:before {
        content: "Precio:";
        color: #505050;
        height: 20px;
        line-height: 20px;
        font-size: 13px;
        font-family: gilroy-medium, arial;
        right: 10px;
        top: 2px;
        position: absolute
    }
}
body.body-cart .cart-template-holder .cart table tbody td.product-price.product-price .list-price.hide~.best-price .new-product-price {
    color: #323232
}
@media (max-width: 490px) {
    body.body-cart .cart-template-holder .cart table tbody td.product-price {
        font-size: 13px
    }
}
body.body-cart .cart-template-holder .cart table tbody td.product-price .old-product-price {
    text-decoration: line-through
}
body.body-cart .cart-template-holder .cart table tbody td.product-price .new-product-price-label,
body.body-cart .cart-template-holder .cart table tbody td.product-price .old-product-price-label {
    display: none
}
body.body-cart .cart-template-holder .cart table tbody td.product-price .list-price {
    display: inline-block;
    margin-right: -4px
}
body.body-cart .cart-template-holder .cart table tbody td.product-price .best-price {
    display: inline-block
}
body.body-cart .cart-template-holder .cart table tbody td.product-price .best-price .discount,
body.body-cart .cart-template-holder .cart table tbody td.product-price .best-price.is-kg .new-product-price {
    display: none
}
body.body-cart .cart-template-holder .cart table tbody td.product-price .best-price .new-product-real-price {
    color: #df1504;
    font-family: gilroy-bold, arial;
    font-size: 15px
}
@media (max-width: 490px) {
    body.body-cart .cart-template-holder .cart table tbody td.product-price .best-price .new-product-real-price {
        font-size: 13px
    }
}
body.body-cart .cart-template-holder .cart table tbody td.product-price .best-price .new-product-price {
    color: #df1504;
    font-family: gilroy-medium, arial;
    font-size: 15px;
    display: inline-block;
    padding-top: 2px
}
@media (max-width: 490px) {
    body.body-cart .cart-template-holder .cart table tbody td.product-price .best-price .new-product-price {
        font-size: 13px
    }
}
body.body-cart .cart-template-holder .cart table tbody td.product-price .best-price .new-product-real-price-per-unit {
    color: #df1504;
    font-family: gilroy-medium, arial;
    font-size: 15px
}
@media (max-width: 490px) {
    body.body-cart .cart-template-holder .cart table tbody td.product-price .best-price .new-product-real-price-per-unit {
        font-size: 13px
    }
}
body.body-cart .cart-template-holder .cart table tbody td.product-price .best-price .new-product-real-price-per-unit span {
    vertical-align: top
}
body.body-cart .cart-template-holder .cart table tbody td.product-price .best-price .new-product-real-price-per-unit span:last-child {
    vertical-align: middle
}
body.body-cart .cart-template-holder .cart table tbody td.product-price .best-price .new-product-real-price-per-unit .price-metric-unit {
    font-family: gilroy-light, arial;
    color: #999;
    font-size: 13px
}
body.body-cart .cart-template-holder .cart table tbody td.quantity {
    user-select: none;
    font-size: 18px;
    width: 11%;
    text-align: center
}
@media (max-width: 1024px) {
    body.body-cart .cart-template-holder .cart table tbody td.quantity {
        width: 32%;
        text-align: center;
        height: auto;
        padding-right: 0;
        padding-top: 25px;
        padding-left: 0;
        margin-left: 0;
        position: relative;
        border-right: 1px dashed #c8c8c8;
        border-left: 1px dashed #c8c8c8
    }
    body.body-cart .cart-template-holder .cart table tbody td.quantity:before {
        content: "Cantidad:";
        color: #505050;
        height: 20px;
        line-height: 20px;
        font-size: 13px;
        font-family: gilroy-medium, arial;
        top: 2px;
        position: absolute;
        margin: auto;
        right: 0;
        left: 0;
        display: inline-block
    }
}
body.body-cart .cart-template-holder .cart table tbody td.quantity input {
    border: none;
    background-color: #fff;
    height: 23px;
    float: none;
    font-size: 13px;
    display: inline-block;
    font-family: gilroy-regular, arial;
    padding: 0;
    width: 30px;
    margin: 0;
    box-shadow: none;
    transition: unset
}
body.body-cart .cart-template-holder .cart table tbody td.quantity .item-quantity-change {
    height: 26px;
    float: none;
    width: 26px;
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
    position: static;
    border: 1px solid #969696;
    border-radius: 50%
}
@media (max-width: 490px) {
    body.body-cart .cart-template-holder .cart table tbody td.quantity .item-quantity-change {
        padding: 0 1px
    }
}
body.body-cart .cart-template-holder .cart table tbody td.quantity .item-quantity-change:hover {
    border-color: #505050
}
body.body-cart .cart-template-holder .cart table tbody td.quantity .item-quantity-change:hover .icon {
    color: #505050
}
body.body-cart .cart-template-holder .cart table tbody td.quantity .item-quantity-change-increment.is-disabled {
    cursor: not-allowed;
    pointer-events: none
}
body.body-cart .cart-template-holder .cart table tbody td.quantity .item-quantity-change .icon {
    color: #969696;
    display: inline-block;
    padding-top: 4px;
    padding-right: 1px
}

body.body-cart .cart-template-holder .cart table tbody td.quantity .item-unit-label {
    display: none
}
body.body-cart .cart-template-holder .cart table tbody td.quantity .item-multiplier-label,
body.body-cart .cart-template-holder .cart table tbody td.quantity .item-unit-label {
    font-size: 14px;
    color: #505050
}
@media (max-width: 490px) {
    body.body-cart .cart-template-holder .cart table tbody td.quantity .item-multiplier-label,
    body.body-cart .cart-template-holder .cart table tbody td.quantity .item-unit-label {
        font-size: 13px
    }
}
body.body-cart .cart-template-holder .cart table tbody td.quantity-price {
    width: 14%;
    font-size: 15px;
    line-height: 1.2;
    text-align: right
}
@media (max-width: 1024px) {
    body.body-cart .cart-template-holder .cart table tbody td.quantity-price {
        width: 34%;
        padding-left: 0;
        padding-right: 0;
        height: auto;
        position: relative;
        padding-top: 25px
    }
    body.body-cart .cart-template-holder .cart table tbody td.quantity-price:before {
        content: "Subtotal:";
        color: #505050;
        height: 20px;
        line-height: 20px;
        font-size: 13px;
        font-family: gilroy-medium, arial;
        top: 2px;
        position: absolute;
        margin: auto;
        right: 0
    }
}
body.body-cart .cart-template-holder .cart table tbody td.quantity-price .total-selling-price {
    margin-top: 15px;
    color: #df1504;
    font-family: gilroy-medium, arial;
    font-size: 15px;
    display: block
}
@media (max-width: 490px) {
    body.body-cart .cart-template-holder .cart table tbody td.quantity-price .total-selling-price {
        font-size: 13px
    }
}
body.body-cart .cart-template-holder .cart table tbody td.item-remove {
    padding: 0;
    width: 4%
}
@media (max-width: 1024px) {
    body.body-cart .cart-template-holder .cart table tbody td.item-remove {
        right: 5px;
        top: 5px;
        height: 30px;
        width: 30px;
        line-height: 27px;
        position: absolute
    }
}
body.body-cart .cart-template-holder .cart table tbody td.item-remove .item-link-remove {
    border-radius: 50%;
    background-color: #c8c8c8;
    width: 19px;
    height: 19px;
    padding: 0;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle
}
body.body-cart .cart-template-holder .cart table tbody td.item-remove .item-link-remove i {
    margin-top: 4px;
    font-size: 11px;
    color: #fff;
    vertical-align: top;
    display: inline-block
}
body.body-cart .summary-template-holder {
    position: fixed;
    bottom: 0;
    background-color: #f7f7f4;
    left: 0;
    z-index: 999;
    height: 220px
}
@media (max-width: 736px) {
    body.body-cart .summary-template-holder {
        border-top: 1px solid #c8c6c5!important;
        border-left: 1px solid #c8c6c5!important;
        border-right: 1px solid #c8c6c5!important;
        background-color: transparent;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        overflow: hidden;
        position: static;
        height: auto
    }
}
body.body-cart .summary-template-holder .summary {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 10px
}
@media (max-width: 1024px) {
    body.body-cart .summary-template-holder .summary {
        max-width: 100%
    }
}
body.body-cart .summary-template-holder .summary-totalizers {
    font-size: 13px;
    color: #4d4d4d;
    border-radius: 0;
    background-color: #ebebeb;
    border: none;
    margin-bottom: 0;
    padding: 10px 50px 0;
    margin-top: 0;
    margin-left: 0;
    width: 365px;
    height: 220px;
    box-sizing: border-box
}
@media (max-width: 1024px) {
    body.body-cart .summary-template-holder .summary-totalizers {
        padding-right: 10px;
        padding-left: 10px
    }
}
@media (max-width: 736px) {
    body.body-cart .summary-template-holder .summary-totalizers {
        width: 100%;
        background-color: #f9f9f9;
        float: none!important;
        margin-right: 0;
        height: auto;
        position: static;
        font-size: 14px;
        padding-top: 5px;
        border-top: 1px solid #c8c6c5;
        max-width: 100%
    }
}
body.body-cart .summary-template-holder .summary-totalizers tr {
    border-bottom: none
}
body.body-cart .summary-template-holder .summary-totalizers td {
    padding: 5px 0
}
body.body-cart .summary-template-holder .summary-totalizers .accordion-group {
    margin-bottom: 0
}
body.body-cart .summary-template-holder .summary-totalizers table {
    font-family: gilroy-regular, arial
}
body.body-cart .summary-template-holder .summary-totalizers table .totalizers-list tr.Shipping td {
    padding-top: 0;
    padding-bottom: 5px
}
body.body-cart .summary-template-holder .summary-totalizers table .totalizers-list tr.Shipping td .postal-code-for-sla {
    font-size: 15px
}
@media (max-width: 490px) {
    body.body-cart .summary-template-holder .summary-totalizers table .totalizers-list tr.Shipping td .postal-code-for-sla {
        font-size: 13px
    }
}
body.body-cart .summary-template-holder .summary-totalizers table .totalizers-list tr.Shipping td .cart-reset-postal-code,
body.body-cart .summary-template-holder .summary-totalizers table .totalizers-list tr.Shipping td .postal-code-value,
body.body-cart .summary-template-holder .summary-totalizers table .totalizers-list tr.Shipping td .shipping-name-to,
body.body-cart .summary-template-holder .summary-totalizers table .totalizers-list tr.Shipping td .shipping-selected-sla-estimate {
    display: none
}
body.body-cart .summary-template-holder .summary-totalizers table .totalizers-list tr td {
    font-size: 15px
}
@media (max-width: 490px) {
    body.body-cart .summary-template-holder .summary-totalizers table .totalizers-list tr td {
        font-size: 13px
    }
}
body.body-cart .summary-template-holder .summary-totalizers table td.info {
    padding-left: 0
}
body.body-cart .summary-template-holder .summary-totalizers table td.monetary {
    padding-right: 0;
    text-align: right
}
body.body-cart .summary-template-holder .summary-totalizers table td.empty {
    width: 0;
    padding: 0
}
body.body-cart .summary-template-holder .summary-totalizers table tfoot {
    display: table-row-group;
    border-top: 1px solid #c7c7c7
}
body.body-cart .summary-template-holder .summary-totalizers table tfoot tr.totalizer-oh td {
    padding-top: 0;
    font-family: gilroy-bold, arial;
    font-size: 15px
}
@media (max-width: 490px) {
    body.body-cart .summary-template-holder .summary-totalizers table tfoot tr.totalizer-oh td {
        font-size: 13px
    }
}
body.body-cart .summary-template-holder .summary-totalizers table tfoot tr.totalizer-oh td.info {
    color: #ce1013
}
body.body-cart .summary-template-holder .summary-totalizers table tfoot tr.totalizer-oh td.monetary {
    color: #008ad9
}
body.body-cart .summary-template-holder .summary-totalizers table tfoot tr.totalizer-oh td.monetary .price {
    font-family: gilroy-bold, arial
}
body.body-cart .summary-template-holder .summary-totalizers table tfoot td {
    font-family: gilroy-bold, arial;
    font-size: 15px;
    padding-bottom: 5px
}
@media (max-width: 490px) {
    body.body-cart .summary-template-holder .summary-totalizers table tfoot td {
        font-size: 13px
    }
}

body.body-cart .cart-links {
    float: none;
    height: 45px;
    width: 100%;
    bottom: 15px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
    max-width: 1180px;
    margin: 0 auto
}
@media (max-width: 736px) {
    body.body-cart .cart-links {
        position: static;
        background-color: #f9f9f9;
        padding: 10px;
        border-bottom: 1px solid #c8c6c5!important;
        border-left: 1px solid #c8c6c5!important;
        border-right: 1px solid #c8c6c5!important;
        height: auto;
        margin-bottom: 15px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px
    }
}
body.body-cart .cart-links .btn-place-order-wrapper {
    width: 285px;
    height: 45px;
    display: block;
    right: 40px;
    position: absolute;
    border-radius: 25px;
    overflow: hidden;
}
@media (max-width: 1024px) {
    body.body-cart .cart-links .btn-place-order-wrapper {
        width: 36%
    }
}
body.body-cart .cart-links .btn-place-order-wrapper a {
    box-shadow: none;
    border: none;
    text-shadow: none;
    text-transform: uppercase;
    font-size: 0;
    font-family: gilroy-bold, arial;
    background-image: none;
    background-color: #df1504;
    border-radius: 0;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0
}
@media (max-width: 490px) {
    body.body-cart .cart-links .btn-place-order-wrapper a {
        margin-top: 0
    }
}
body.body-cart .cart-links .btn-place-order-wrapper a:after {
    content: "CONTINUAR";
    color: #fff;
    left: 0;
    position: absolute;
    top: 0;
    display: block;
    line-height: 45px;
    font-size: 20px;
    height: 45px;
    text-align: center;
    width: 100%
}
@media (max-width: 736px) {
    body.body-cart .cart-links .btn-place-order-wrapper {
        position: static;
        width: 100%
    }
}
body.body-cart .show-more-items-button {
    font-size: 0
}
body.body-cart .show-more-items-button:before {
    content: "Mostrar más productos";
    font-size: 12px;
    vertical-align: middle
}
.orderform-template-holder .client-profile-data input[type="text"] {
  width: 100% !important;
  }
   .orderform-template-holder .client-profile-data .client-document,
  .orderform-template-holder .client-profile-data .client-phone {
  float: left !important;
  width: 100%;
  }
   .row-fluid .orderform-template.inactive {
  display: none !important;
  }