.titulo-abe{
    margin: 20px 20px 30px -53px;
    font-size: 55px;
    color: #003dc7;
    font-family: "Volkhov", serif;
    text-align: center;
    font-weight: 700;
    text-shadow: 1px 1px 3px #e0d1bc;
}

.caption.dgx {
    background: url(../images/pic01.png) no-repeat;
    text-align: center;
    border-radius: 5%;
    width: 100%;
    height: 100%;
    display: block;
}

.caption.dgx1 {
    background: url(../images/pic02.png) no-repeat;
    text-align: center;
    border-radius: 5%;
    width: 100%;
    height: 100%;
    display: block;
}

.caption.dgx4 {
    background: url(../images/pic05.png) no-repeat;
    text-align: center;
    border-radius: 5%;
    width: 100%;
    height: 100%;
    display: block;
}

.caption.dgx3 {
    background: url(../images/pic04.png) no-repeat;
    text-align: center;
    border-radius: 5%;
    width: 100%;
    height: 100%;
    display: block;
}

.caption.dgx5 {
    background: url(../images/pic99.png) no-repeat;
    text-align: center;
    border-radius: 5%;
    width: 200px;
    height: 195px;
    display: block;
}

.caption.dgx:hover {

    background: url(../images/pic001.png) no-repeat !important;
    background-size: 20% 20%;
    text-align: center;
    border-radius: 5%;
    display: block;
}

.caption.dgx1:hover {

    background: url(../images/pic002.png) no-repeat !important;

    text-align: center;
    border-radius: 5%;
    display: block;
}

.caption.dgx2:hover {

    background: url(../images/pic003.png) no-repeat !important;

    text-align: center;
    border-radius: 5%;
    display: block;
}

.caption.dgx3:hover {

    background: url(../images/pic004.png) no-repeat !important;

    text-align: center;
    border-radius: 5%;
    display: block;
}

.caption.dgx4:hover {

    background: url(../images/pic005.png) no-repeat !important;

    text-align: center;
    border-radius: 5%;
    display: block;
}

.caption.dgx5:hover {

    background: url(../images/pic0009.png) no-repeat !important;

    text-align: center;
    border-radius: 5%;
    display: block;
}
