.fondo_portal{
    background-color:#f5f5f5 !important; /*00a4d3   {{ route('login') }} */ 
    font-family: GalanoGrotesqueAlt-Regular;
}

 .title {
    display: inline;
    position: absolute;
    z-index: 1;
  }
  .title:hover:after {
    bottom: 26px;
    content: attr(rel);; /* este es el texto que será mostrado */
    left: 20%;
    position: absolute;
    z-index: 98;
    /* el formato gráfico */
    background:#A4A4A4;  /* rgba(255,255,255, 0.2);  el color de fondo */
    border-radius: 5px;
    color: #FFF; /* el color del texto */
    font-family: Georgia;
    font-size: 12px;
    padding: 5px 15px;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
    width: 150px;
  }
  .title:hover:before {
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 1;
    /* el triángulo inferior */
    border: solid;
    border-color: #A4A4A4 transparent;
    border-width: 6px 6px 0 6px;
  }
#Text_Formt b{font-family:   Galano Grotesque Medium; font-size: 18px;}
#Text_Formt p{font-family: Galano-Grotesque Light; font-size: 17px;}
#Text_Formt h4{font-family: Galano Grotesque Black;}


