 
body{
    font-family: "FranklinGothicStdBC";
}
#fondo{
    background-color: #4d4d4d;
}
.main-wrapper{
    min-height: 100vh;
}
.content{
    position: relative;
    width: 938px;
    height: 447px;
}
.content > img{
    width: 738px;
    height: 447px;
}

.triangle-red {
    position: absolute;
    background-color: #2f5bb7;
    z-index: 3;
    height: 100%;
    width: 20%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: .8;
}
.triangle-red:before {
    border-left: 270px solid #2f5bb7;
    border-top: 223px solid transparent;
    border-bottom: 224px solid transparent;
    content: "";
    height: 0;
    position: absolute;
    left: 100%;
    width: 0;
}
.content:hover .opacity{
    background-color: #bac9f9;
}
.wraper-content{
    position: absolute;
    color: #fff;
    z-index: 4;
    height: 100%;
    width: 100%;
}
.wraper-content .login-title{
    font-family: "FranklinGothicStdMC";
    font-size: 1.4rem;
    line-height: 2.7rem;
}
.wraper-content .login-title span{
    color: #fbb03b;
    text-decoration: underline;
}
#form{
    color: #000;
}
#form .form-control{
    padding: 0.3rem 0.75rem;
}
#form label{
    margin-bottom: 0rem;
}
.btn-login{
    background-color: #2f5bb7;
    padding: 0.3rem 0.75rem;
}
.login-text{
    color: #000;
}
.link-correo{
    color: #fbb03b;
}
.content:hover .link-correo{
    color: #fff;
} 

.ng-valid{
    border: thin solid #090;
}
.ng-invalid{
    border: thin solid #990000;
}

@media (max-width: 767px){
    .content{
        width: 100%;
        height: 100%;
        background-image: url(../img/fondo-login.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 100vh;
    }
    .content > img{
        display: none;
    }
    .triangle-red {
        display: none;
    }
    .login-title{
        background-color: #2f5bb7;
        padding: 15px;
        font-size: 1.8rem;
        line-height: 1.7rem;
    }
}

