@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans');

/*body{
	background: #e6e6e6;
	font-family: 'Lato', sans-serif;
}*/
header{
    margin-top: 10px;
}

header .logomtpe{
	float: left;
}
header .logojp{
	float: right;
}
header .logomtpe img, header .logojp img{
	max-height: 50px;
}
header h1{
	text-align: center;
	color: white;
	font-size: 25px;
	margin-top: 10px;
}
.maintext{
	background: #ff0000;
    padding: 5px;
    color: white;
    padding-left: 80px;
    margin: 20px 0;
    
}
.maintext h3{
	font-weight: bold;
    font-size: 30px;
}
.maintext p{
	font-weight: normal;
    font-size: 20px;
    margin-bottom: 0;
}
footer{
	background: #b3b3b3;
	padding: 7px;
    text-align: center; 
    color: #333333;
}
.demo h2{
	color: #ff0000;
	font-size: 28px;
}
.demo .democont{
	background: white;
	border: 1px solid #ff0000;
	padding: 10px;
	border-radius: 5px; 
	overflow: hidden;
}.demo .democont p{
	font-size: 11px;
	margin-bottom: 0;
}
.demo .democont .demoizq{
	float: left;
	width: 40%;
}
.demo .democont .demoright{
	float: left;
	width: 40%;
}
.form{
	margin: 15px 0;
}.content nav{
	float: right;
}
.form h3{
	font-size: 22px;
}
.form textarea{
	height: 80px;
}
.form label{
	font-size: 14px;
}
.form .btn {
	margin-left: 10px;
}
#fotoCV{
	display: none;
}
.mje, .mje2, .mje3, .mje4{
	display: none;
	color: red;
}
.ui-datepicker-calendar {
    display: none;
}
div.ui-datepicker{
	font-size:11px;
}
.ui-datepicker-current{
	display: none;
}
span.ui-datepicker-month{
	display: none;
}
.loading{
	height:20px; 
	margin-left:10px;
	display: none;
}

