
@font-face {
  font-family: Galano-Grotesque Light;
  src: local('Galano Grotesque Light'), local('Galano-Grotesque-Light'),
      url('GalanoGrotesque-Light.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

  @font-face{
    font-family:Galano Grotesque Bold Italic;
    src:url(../fonts/GalanoGrotesque-BlackItalic.ttf);
}
 
  @font-face{
    font-family:Galano Grotesque Black;
    src:url(../fonts/GalanoGrotesque-Black.ttf);
}

  @font-face{
    font-family:Galano Grotesque Medium Italic;
    src:url(../fonts/GalanoGrotesque-MediumItalic.ttf);
}

  @font-face{
    font-family: Galano Grotesque Medium;
    src:url(../fonts/GalanoGrotesque-Medium.ttf);
}
@font-face{
  font-family: Galano Grotesque Bold;
  src:url(../fonts/GalanoGrotesque-Bold.ttf);
}

