@import url(https://fonts.googleapis.com/css?family=Roboto);

.photo_perfil{
    width: 100px;
    height: 110px;
}

.blockquote-footer::before {

    content: none !important;

}

.btn-perfil{
    font-size: 14px;
}

.titulo{
    color:#1A4A84;
    text-align: center;
}

.div_titulo{
    float:center;
}

.formulario{
    width: 80%;
}

.titulo_formulario{
    float: left;
    color:#fff;
}

.body_card{
    float: left;
}

.img-usuario{
    width: 200px;
}

.icon {
    color:#1A4A84 !important;
  }

  
hr.style18 { 
    height: 20px; 
    border-style: solid; 
    border-color: #3490dc; 
    border-width: 1px 0 0 0; 
    border-radius: 20px; 
  } 
  hr.style18:before { 
    display: block; 
    content: ""; 
    height: 20px; 
    margin-top: -20px; 
    border-style: solid; 
    border-color: #3490dc; 
    border-width: 0 0 1px 0; 
    border-radius: 20px; 
  }

  .imagen-login{
    margin-bottom: 10px;
  }

.color_azul_text{
    color:#3490dc;
}

hr.style11 {
	height: 3px;
	background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
}