 body{
    font-family: "FranklinGothicStdBC";
}
#fondo{
    background-color: #4d4d4d;
}
.main-wrapper{
    min-height: 100vh;
}
.content{
    position: relative;
    width: 938px;
    height: 447px;
}
.content > img{
    width: 738px;
    height: 447px;
}
.opacity {
    position: absolute;
    background-color: #ffffff73;
    z-index: 2;
    height: 100%;
    width: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    opacity: .9;
}
.triangle-red {
    position: absolute;
    background-color: #1A4A84;
    z-index: 3;
    height: 100%;
    width: 20%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: .8;
}
.triangle-red:before {
    border-left: 270px solid #1A4A84;
    border-top: 223px solid transparent;
    border-bottom: 224px solid transparent;
    content: "";
    height: 0;
    position: absolute;
    left: 100%;
    width: 0;
}
.content:hover .opacity{
    background-color: #a65f648a;
}


.wraper-content{
    position: absolute;
    color: #000000;
    z-index: 4;
    height: 100%;
    width: 100%;
}
.wraper-content .login-title{
    font-family: Galano Grotesque Medium;
    font-size: 1.4rem;
    line-height: 2.7rem;
}
 .card-body p{font-size: 15px;
    font-family:Galano Grotesque Black;
}
.card-body span{
    font-family: Galano Grotesque Medium;
}
.card-body label{
    font-family: Galano Grotesque Medium;
}
.wraper-content .login-title span{
    color: #fbb03b;
    text-decoration: underline;
}
#form{
    color: #000;
}
#form .form-control{
    padding: 0.3rem 0.75rem;
}
#form label{
    margin-bottom: 0rem;
}
.btn-login{
    background-color: #1A4A84;
    padding: 0.3rem 0.75rem;
}
.login-text{
    color: #000;
}
.link-correo{
    color: #fbb03b;
}
.content:hover .link-correo{
    color: #fff;
} 

.ng-valid{
    border: thin solid #090;
}
.ng-invalid{
    border: thin solid #990000;
}

@media (max-width: 767px){
    .content{
        width: 100%;
        height: 100%;
        background-image: url(../fondo/image-login.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 100vh;
    }
    .content > img{
        display: none;
    }
    .triangle-red {
        display: none;
    }
    .login-title{
        background-color: #1A4A84;
        padding: 15px;
        font-size: 1.8rem;
        line-height: 1.7rem;
    }
}
.loginmodal-submit{background-color: #1A4A84;}
.loginmodal-submit:hover{background-color: #575756;}


   .TextEfecto {
  width: 237px;
  font-size: 36px;
  line-height: 40px;
  font-family: 'Muli';
  color: #ecf0f1;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -118px;
}
.TextoAqui li{
font-size: 2rem;color: #fbb03b;
   }

.TextEfecto:before {
  content: '[';
  position: absolute;
  left: -30px;
  line-height: 40px;
}
.TextEfecto:after {
  content: ']';
  position: absolute;
  right: -30px;
  line-height: 40px;
}
.TextEfecto:after,
.TextEfecto:before {
  color: #16a085;
  font-size: 42px;
  animation: 2s linear 0s normal none infinite opacity;
  -webkit-animation: 2s ease-out 0s normal none infinite opacity;
  -moz-animation: 2s ease-out 0s normal none infinite opacity;
  -o-animation: 2s ease-out 0s normal none infinite opacity;
}
.TextoAqui {
  float: left;
  font-weight: 600;
  overflow: hidden;
  height: 40px;
}
p {
  display: inline;
  float: left;
  margin: 0;
}
ul {
  margin-top: 0;
  padding-left: 30px;
  text-align: left;
  list-style: none;
  animation: 6s linear 0s normal none infinite change;
  -webkit-animation: 6s linear 0s normal none infinite change;
  -moz-animation: 6s linear 0s normal none infinite change;
  -o-animation: 6s linear 0s normal none infinite change;
}
ul li {
  line-height: 40px;
  margin: 0;
}
@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes change {
  0% {
    margin-top: 0;
  }
  15% {
    margin-top: 0;
  }
  25% {
    margin-top: -40px;
  }
  40% {
    margin-top: -40px;
  }
  50% {
    margin-top: -80px;
  }
  65% {
    margin-top: -80px;
  }
  75% {
    margin-top: -40px;
  }
  85% {
    margin-top: -40px;
  }
  100% {
    margin-top: 0;
  }
}
@keyframes change {
  0% {
    margin-top: 0;
  }
  15% {
    margin-top: 0;
  }
  25% {
    margin-top: -40px;
  }
  40% {
    margin-top: -40px;
  }
  50% {
    margin-top: -80px;
  }
  65% {
    margin-top: -80px;
  }
  75% {
    margin-top: -40px;
  }
  85% {
    margin-top: -40px;
  }
  100% {
    margin-top: 0;
  }
}
