@font-face {
    font-family: "FranklinGothicStdBC";
    src: url(../fonts/ITCFranklinGothicStd-BkCd.otf);
    font-weight: bold;
}
@font-face {
    font-family: "FranklinGothicStdMC";
    src: url(../fonts/ITCFranklinGothicStd-MdCd.otf);
    font-weight: bold;
}
@font-face {
    font-family: "FranklinGothicStdDC";
    src: url(../fonts/ITCFranklinGothicStd-DmCd.otf);
    font-weight: bold;
}
body{
    font-family: "FranklinGothicStdBC";
}
/**************************************/
/**************** Inicio **************/
/**************************************/
.header{
    background-image: url(../img/header2.jpg);
    background-image: cover;
    background-size: 100% 100%;
    min-height: 408px;
}
#logo{
    margin-left: 50px;
}
/*buscador*/
#imaginary_container{
    margin-top:7%; /* Don't copy this */
    margin-bottom: 8%;
}
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
    border-right:0; 
    border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
input.form-control.search {
    border-radius: 15px;
    font-size: 1.4em;
    -webkit-box-shadow: 0px 2px 2px #ccc;
    -moz-box-shadow:    0px 2px 2px #ccc; 
    box-shadow:         0px 2px 2px #ccc;
}
span.input-group-addon {
    border-radius: 15px;
    font-size: 1.4em;
    -webkit-box-shadow: 0px 2px 2px #ccc;
    -moz-box-shadow:    0px 2px 2px #ccc; 
    box-shadow:         0px 2px 2px #ccc;
    padding: 3px 6px;
}
.siguenos{
    font-size: 1.3em;
    color: #000;
    padding-top: 3px;
}
.title-red{
    font-family: "FranklinGothicStdMC";
    color: #ff0000;
    font-size: 4.4em;
    margin-top: 55px;
    margin-left: 25px;
}
.title-black{
    font-family: "FranklinGothicStdMC";
    color: #525252;
    font-size: 4.4em;
    text-decoration: underline;
    margin-top: -48px;
}
@media (max-width: 1199px) {
    #imaginary_container {
        margin-top: 6%;
        margin-bottom: 7%;
    }
    .title-red {
        font-size: 3.7em;
        margin-top: 33px;
        margin-left: 11px;
    }
    .title-black{
        font-size: 3.7em;
        margin-top: -42px;
        margin-left: 15px;
    }
    .header{
        min-height: 330px;
    }
}
@media (max-width: 991px) {
    #imaginary_container {
        margin-top: 3%;
        margin-bottom: 3%;
    }
    .title-red {
        font-size: 2.7em;
        margin-top: 24px;
        margin-left: 11px;
    }
    .title-black{
        font-size: 2.7em;
        margin-top: -34px;
        margin-left: 15px;
    }
    #logo {
        margin-left: 27px;
    }
    .header{
        min-height: 255px;
    }
    .arrow-down{
        width: 32px;
        height: 32px;
    }
}
@media (max-width: 767px) {
    #imaginary_container{
        margin-top:0%;
        margin-bottom: 0%;
    }
    .title-red {
        font-size: 1.7em;
        margin-top: 24px;
        margin-left: 11px;
    }
    .title-black{
        font-size: 1.7em;
        margin-top: -34px;
        margin-left: 15px;
    }
    .social-red{
        display: inline-block;
        width: 25px;
    }
    .social-red img{
        width: 80%;
    }
    p.new-title {
        padding-top: 10px;
    }
}
/**************** 1 section ***************/
@media (min-width: 1200px) {
    .decrease-padding-left{
        padding-left: 0px;
        padding-right: 6px;
    }
    .decrease-padding-right{
        padding-right: 0px;
        padding-left: 6px;
    }
}
section > .one{
    padding-top: 48px;
    background-image: url(../img/section.jpg);
    box-shadow: 0px 1px 2px #e2e1e1;
}
.que-necesitas{
    display: block;
    position: relative;
    margin-bottom: 50px;
}
.que-necesitas:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 6px;
    background-color: #ff0000;
}
.opacity {
    position: absolute;
    background-color: #ff0000;
    z-index: 2;
    height: 100%;
    width: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    opacity: .9;
}
.opacity-text{
    position: absolute;
    color: #fff;
    z-index: 3;
    height: 100%;
    width: 100%;
    display: -webkit-flex;
    display:-ms-flexbox;
    display: flex;
    -moz-flex-direction:column;
    -webkit-flex-direction:column;
    flex-direction: column;
    -webkit-justify-content:center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}
.opacity-text p{
    font-size: 2.9em;
    line-height: .8em;
}
.opacity-text p span{
    text-decoration: none;
    border-bottom: 2px solid #fff;
}
.que-necesitas img, .servicios img{
    margin-bottom: 6px;
}
.que-necesitas:hover .opacity, .que-necesitas:hover:after{
    background-color: #F5911E;
}
@media (max-width: 1199px) {
    .opacity-text p{
        font-size: 2.3em;
    }
}
@media (max-width: 991px){
    .opacity-text p{
        font-size: 1.8em;
    }
}
/******** fin 1 section *********/
/********* 2 section  ***********/
.two{
    min-height: 660px;
}
@media (min-width: 1200px) {
    .decreasecont-padding{
        padding-left: 8px;
        padding-right: 8px;
    }
    .decreasemin-padding-left{
        padding-left: 0px;
        padding-right: 5.5px;
    }
    .decreasemin-padding-center{
        padding-right: 3px;
        padding-left: 3px;
    }
    .decreasemin-padding-right{
        padding-right: 0px;
        padding-left: 5.5px;
    }
}
.text-buscado{
    font-size: 3.1em;
    color: #ff0000;
    margin-top: 25px;
    margin-bottom: 23px;
}
article{
    margin-bottom: 35px;
}
article .article-header{
    position: relative;
    height: 132px;
    width: 100%;
    background-color: #F5911E;
    line-height: 2.4em;
    display: -webkit-flex;
    display:-ms-flexbox;
    display: flex;
    -moz-flex-direction:column;
    -webkit-flex-direction:column;
    flex-direction: column;
    -webkit-justify-content:center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}
article .article-header:before{
    position: absolute;
    content: "";
    top: -19px;
    height: 15px;
    width: 100%;
    background-color: #F1F1F1;
}
article .article-header p{
    font-family: "FranklinGothicStdMC";
    font-size: 2.9em;
    color: #fff;
}
article .article-header p span{
    text-decoration: none;
    border-bottom: 2px solid #fff;
}
article .article-body{
    background-color: #f1f1f1;
    padding: 35px 25px 10px 5px;
    min-height: 250px;
}
article .article-body ul li{
    color: #525252;
    font-size: 1.4em;
}
article .article-body ul li {
    list-style: none;
    line-height: 1em;
    margin-bottom: 15px;
    min-height: 57px;
    text-transform: lowercase;
}
article .article-body ul  li:before {
    content:'+';
    display: block;
    position: relative;
    max-width: 0px;
    max-height: 0px;
    left: -24px;
    top: 0px;
    font-size: 32px;
}
article .article-body ul li a, article .article-body ul li a:hover{
    color: #000;
    text-decoration: none;
}

article .article-body ul li a{
    display: block;
}
article .article-body ul li a:first-letter {
    text-transform: uppercase;
}
article .article-footer {
    background-color: #F1F1F1;
    padding: 5px 15px 40px 15px;
}
article .article-footer a.btn-more{
    background-color: #525252;
    color: #fff;
    display: inline-block;
    font-size: 1.3em;
    padding: 1px 15px;
    border-radius: 20px;
}
article .article-footer .btn-more span{
    display: inline-block;
    -ms-transform: scale(1.7);
    -webkit-transform: scale(1.7);
    transform: scale(1.7);
}
article:hover .article-header{
    background-color: #4d4d4d;
}
article:hover .article-header:before{
    background-color: #ff0000;
}
article:hover .article-body, article:hover .article-body ul li a{
    background-color: #ff0000;
    color: #fff;
}
article:hover .article-body ul li:before{
    color: #fff;
}
article:hover .article-footer{
    background-color: #ff0000;
    padding: 35px 15px 40px 15px;
}
article:hover .article-footer .btn-more{
    background-color: #FAAF3B;
    color: #525252;
    text-decoration: none;
}
@media (max-width: 767px) {
    article:hover .article-footer{
        background-color: #ff0000;
        padding: 5px 15px 40px 15px;
    }
    .text-buscado{
        font-size: 2em;
    }
    article .article-header{
        height: 82px;
    }
    article .article-header p{
        font-size: 1.7em;
    }
    article .article-body ul li {
        font-size: 1em;
    }
    article .article-footer {
        background-color: #F1F1F1;
        padding: 5px 5px 10px 10px;
    }
    article .article-footer a.btn-more{
        font-size: 1em;
    }
}
/******** fin 2 section *********/
/************ aside  ************/
@media (min-width: 1200px) {
    .remove-pad{
        padding-left: 0px;
        padding-right: 0px;
    }
    .remove-padding{
        padding-left: 5px;
        padding-right: 5px;
    }
}

.three{
    background-image: url(../img/section2.jpg);
    background-repeat:no-repeat;
    background-size: 100% 100%;
    box-shadow: 0px 6px 8px #e2e1e1 inset;
    min-height: 362px;
}
.text-news{
    font-size: 3.1em;
    color: #ff0000;
    margin-bottom: 0px;
}
.new-title a, .new-title a:hover{
    font-size: 1.2em;
    line-height: 1em;
    color: #000;
    text-decoration: none;
}
.new-title span{
    font-family: "FranklinGothicStdMC";
}
.new-date{
    color: #F6921E;
    font-size: 1.4em;
}
.pages-extra{
    margin-left: 15px;
    display: inline-block;
    float: right;
    margin-bottom: 10px;
}
@media (max-width: 767px) {
    .text-news {
        font-size: 2em;
    }
    .new-title {
        font-size: 1em;
        line-height: 1em;
    }
    .pages-extra{
        margin-bottom: 10px;
    }
}
/********** fim aside  **********/
/***********  footer  **********/
.footer{
    background-color: #333;
    color: #fff;
}
.footer p{
    font-size: 1.2em;
    margin: 55px 0 45px 0;
    line-height: 1.1em;
}
@media (max-width: 767px) {
    .footer p{
        font-size: 1em;
    }
}
/********* fin  footer  ********/

/**************************************/
/******** pagina que necesitas ********/
/**************************************/
.fondo-question{
    background-image: url(../img/fondo-question.jpg);
    background-repeat:no-repeat;
    background-size: 100% 100%;
    min-height: 577px;
    position: relative;
    padding-bottom: 230px;
}
ul.nav{
    padding: 40px;
}
ul.nav li{
    list-style: none;
    display: inline-block;
}
ul.nav li a, ul.nav li a:hover, ul.nav li a:focus{
    display: block;
    background-color: #FFC700;
    border-radius: 20px;
    color: #525252;
    font-size: 1.8em;
    padding: 3px 15px;
    display: -webkit-flex;
    display:-ms-flexbox;
    display: flex;
    -moz-flex-direction:row;
    -webkit-flex-direction:row;
    flex-direction: row;
    -webkit-justify-content:center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}
ul.nav li a img, ul.nav li a span{
    display: inline-block;
}
ul.nav li.active a{
    background-color: #525252;
    color: #fff;
}
/********** line title **********/
.line-width{
    background: #3850A0;font-family:Galano Grotesque Black;margin-top: 20px;
    width: 100%;
}
.line-width .line-text{
    display: inline-block;
    background-color: #fff;
    color: #3850A0;
    margin-left: 71px;
    margin-right: 71px;
    font-size: 2.5em;
    line-height: 1.4em;
    padding: 0 15px;
    /*width: 89%;*/
}
@media (max-width: 767px) {
    .line-width .line-text{
        font-size: 1.8em;
        margin-left: 10px;
        margin-right: 10px;
        line-height: 1.5em;
    }
    ul.nav li a span{
        line-height: 1em;
    }
}
/******** fin line title ********/
#ulNiveles{
    padding-top: 30px;
}
.btn-answer{
    background-color: #FFC700;
    border-radius: 10px;
    color: #fff;
    margin: 0 4px;
}
.btn-answer:hover{
    background-color: #ffb643;
    color: #fff;
}
.btn-answer-act, .btn-answer-act:hover{
    background-color: #Ff0000;
    border-radius: 10px;
    color: #fff;
}
.question{
    color: #525252;
    font-size: 2.3em;
    margin: 15px auto 30px auto;
}
.answer{
    position: relative;
    -webkit-box-shadow: 0px 3px 0px #777777;
    box-shadow: 0px 3px 0px #777777;
    width: 100%;
    max-width: 415px;
    margin: auto auto 30px;
    border-radius: 20px;
    background-color: #CBCBCB;
    color: #fff;
}
.answer label {
    height: auto;
    line-height: 1;
    width: 100%;
    padding: 8px 20px 0px 48px;
    margin-bottom: 0;
}
.answer label .input {
    position: relative;
}
a.external-link {
    border-radius: 20px;
    color: #fff;
    font-size: 1.8em;
    display: block;
    padding-left: 60px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: left;
}
a.external-link:hover, a.external-link:focus{
    background-color: red;
    -webkit-box-shadow: 0px 3px 0px #890000;
    box-shadow: 0px 3px 0px #890000;
    text-decoration: none;
}
a.external-link:before{
    content: '';
    position: absolute;
    left: 18px;
    top: 5px;
    margin: 3px;
    width: 29px;
    height: 29px;
    z-index: 0;
    background-image: url(../img/enlace-externo.png);
    background-repeat: no-repeat;
}
[type=radio]:checked+label, [type=radio]:not(:checked)+label {
    position: relative;
    padding-left: 60px;
    cursor: pointer;
    display: inline-block;
    font-size: 1.8em;
    -webkit-transition: .28s ease;
    -moz-transition: .28s ease;
    -o-transition: .28s ease;
    -ms-transition: .28s ease;
    transition: .28s ease;
    -khtml-user-select: none;
}
[type=radio]:checked, [type=radio]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.answer [type=radio]:not(:checked)+label:before {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}
[type=radio]:not(:checked)+label:before {
    border-radius: 50%;
    background-color: #fff;
}
[type=radio]:checked+label:after {
    border-radius: 50%;
    background-color: #fff;
    background-image: url(../img/check.png);
    background-repeat: no-repeat;
    background-position: center; 
    z-index: 0;
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
    transform: scale(1.02);
}
.answer [type=radio]+label:after, .answer [type=radio]+label:before {
    top: 50%;
    left: 20px;
    margin: auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}
[type=radio]+label:after, [type=radio]+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 34px;
    height: 34px;
    z-index: 0;
}
.color-red{
    background-color: red;
    -webkit-box-shadow: 0px 3px 0px #890000;
    box-shadow: 0px 3px 0px #890000;font-family: Galano Grotesque Bold;
}
.boton{
    position: absolute;
    bottom: 143px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.btn-sigamos, .btn-sigamos:hover, .btn-sigamos:focus, .btn-sigamos:active{
    display: inline-block;
    color: #fff;
    background-color: #ff0000;
    font-size: 2em;
    border-radius: 20px;
    padding:1.5px 25px;
    text-decoration: none;font-family: Galano Grotesque Bold;
}
.input p{
    text-align: left;
}
@media (max-width: 767px) {
    .btn-answer-act, .btn-answer{
        padding: 2px 8px;
    }
    .fondo-question{
        min-height: 100%;
        padding-bottom: 15px;
    }
    ul.nav{
        padding: 15px 0;
    }
    ul.nav li a img{
        -ms-transform: scale(.7);
        -webkit-transform: scale(.7);
        transform: scale(.7);
        display: inline-block;
    }
    ul.nav li a, ul.nav li a:hover, ul.nav li a:focus{
        font-size: 1.4em;
    }
    p.line-height span {
        font-size: 1em;
        margin-left: 5px;
    }
    .question {
        font-size: 1em;
    }
    [type=radio]:checked+label, [type=radio]:not(:checked)+label{
        font-size: 1em;
    }
    [type=radio]+label:after, [type=radio]+label:before{
        width: 25px;
        height: 25px;
    }
    .answer [type=radio]+label:after, .answer [type=radio]+label:before{
        left: 6px;
    }
    a.external-link{
        font-size: 1em;
    }
    a.external-link:before {
        left: 5px;
        top: 0px;
        margin: 3px;
        width: 23px;
        height: 23px;
        background-size: 100% 100%;
    }
    p.line-height:before {
        border-bottom: 18px solid #ff0000;
    }
    .answer{
        margin: auto auto 19px;
    }
    .boton{
        position: relative;
        bottom: 0;
    }
    .boton img{
        height: 23px;
    }
    .btn-sigamos, .btn-sigamos:hover, .btn-sigamos:focus, .btn-sigamos:active {
        font-size: 1em;
    }
    ul.nav li a, ul.nav li a:hover, ul.nav li a:focus{
        padding: 1px 7px;
    }
    .input p{
        margin: 0 0 7px;
    }
}
.services-ground h4,label{  font-family: Galano Grotesque Medium;}
.services-ground li i{  font-family:Galano Grotesque Medium Italic;}
/*************************************************************/
/******** pagina servicios del ministerio y programas ********/
/*************************************************************/
.services-ground{
    background-image: url(../img/services-ground.jpg);
    background-repeat:no-repeat;
    background-size: 100% 100%;
    min-height: 577px;
    position: relative;
}
.services-main{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    margin: 73px 62px;
}
.serv-program{
    margin: 4px;
    width: 255px;
}
.serv-header{
    background-color: #ff0000;
    color: #fff;
    font-size: 1.5em;
    line-height: 1em;
    min-height: 103px;
    padding: 15px 34px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}
.serv-body{
    margin-top: 3px;
    min-width: 255px;
    min-height: 204px;
    position: relative;
}
.serv-body-opacity{
    position: absolute;
    background-color: #cacaca;
    z-index: 2;
    height: 100%;
    width: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
    -moz-opacity: 0.4;
    -khtml-opacity: 0.4;
    opacity: 0.4;
}
.serv-body ul{
    padding-top: 34px;
    padding-right: 13px;
    position: absolute;
    z-index: 3;
    max-width: 255px;
}
.serv-body ul li{
    list-style: none;
    color: #333333;
    line-height: 1em;
    margin-bottom: 13px;
    min-height: 43px;
}
.serv-body ul li a, .serv-body ul li a:hover{
    color: #000;
    text-decoration: none;
}
.serv-body ul li:before {
    content: '+';
    display: block;
    position: relative;
    max-width: 0px;
    max-height: 0px;
    left: -24px;
    top: 0px;
    font-size: 32px;
}
.serv-footer {
    height: 58px;
    min-width: 255px;
    position: relative;
}
.serv-footer-opacity{
    position: absolute;
    background-color: #cacaca;
    z-index: 2;
    height: 100%;
    width: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
    -moz-opacity: 0.4;
    -khtml-opacity: 0.4;
    opacity: 0.4;
}
.serv-footer a.btn-more {
    position: absolute;
    z-index: 3;
    background-color: #ff0000;
    color: #fff;
    display: inline-block;
    width: 96px;
    height: 25px;
    right: 0;
    left: 0;
    margin: auto;
    font-size: 1.2em;
    padding: 1px 15px;
    border-radius: 20px;
}
.serv-footer a.btn-more:hover, .serv-footer a.btn-more:active, .serv-footer a.btn-more:focus{
    text-decoration: none;
}
.serv-footer a.btn-more span{
    -ms-transform: scale(1.7);
    -webkit-transform: scale(1.7);
    transform: scale(1.7);
    display: inline-block;
}
@media (min-width: 1200px) {
    .serv-program:first-child{
        margin-left: 0;
    }
    .serv-program:last-child{
        margin-right: 0;
    }
}
@media (max-width: 1199px){
    .services-main{
        margin:50px;

    }
    .serv-program{
        margin: 15px;
    }
}
@media (max-width: 767px) {
    .services-main{
        margin:0px;
    }
    .serv-program{
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
    .serv-header{
        padding: 10px;
        font-size: 1.3em;
    }
    .serv-body{
        min-width: 100%;
    }
    .serv-body ul {
        max-width: 100%;
    }
    .serv-footer {
        min-width: 100%;
    }
}
/*************************************************************/
/****** fin pagina servicios del ministerio y programas ******/
/*************************************************************/
/******************************/
/****** bolsa de trabajo ******/
/******************************/
.details-img{
    padding-top: 82px;
    padding-left: 60px;
}
.details-text{
    padding-top: 82px;
    padding-left: 15px;
    padding-right: 60px;
    font-size: 1.35em;
}
.btn-information, .btn-information:hover{
    background-color: #ff0000;
    color: #fff;
    font-size: 1.7em;
    padding: 3px 30px;
    padding-right: 50px;
    border-radius: 20px;
    margin-top: 70px;
    margin-bottom: 40px;
    display: inline-block;
    text-decoration: none;
    position: relative;
}
.btn-information i{
    position: absolute;
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    top: 9px;
    right: 20px;
}
@media (max-width: 767px) {
    .details-img{
        padding-top: 15px;
        padding-left: 0;
    }
    .details-text{
        padding-top: 15px;
        padding-left: 0px;
        padding-right: 0px;
        font-size: 1em;
    }
    .btn-information{
        font-size: 1em;
    }
    .btn-information i{
        top: 6px;
    }
}
/**********************************/
/****** fin bolsa de trabajo ******/
/**********************************/
/******************************/
/****** detalle programas *****/
/******************************/
#program{
    padding: 62px 92px;
}
.element-father{
    background-color: #ff0000;
    color: #fff;
    margin-bottom: 10px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;    
    -webkit-align-items: center;
    align-items: center;
}
.element-father:hover{
    background-color: #f6921e;
}
.element-father div:first-child{
    font-size: 1.4em;
    line-height: 1em;
    text-align: right;
    padding: 15px 0 15px 15px;
}
.element-father div a{
    color: #fff;
}
.element-left{
    flex-grow: 1;
    width: 50px;/*important*/  
}
.element-grow{
    flex-grow: 4;
    margin: 15px 45px 15px 15px;
    padding-left: 15px;
    border-left: 1px solid #fff;
    font-size: 1.1em;
    line-height: 1.2em;
    text-align: justify;
}
@media (max-width: 767px) {
    #program{
        padding: 15px 0px;
    }
    .element-father div:first-child{
        font-size: 1em;
    }
    .element-grow{
        font-size: 1em;
        margin: 15px;
    }
}
/******************************/
/**** fin detalle programas ***/
/******************************/
/******************************/
/********* Noticias ***********/
/******************************/
#noticias{
    padding: 37px 90px;
}
.content-news{
    position: relative;
    margin-bottom: 20px;
}
.opacity-news{
    position: absolute;
    background-color: #ffc700;
    z-index: 2;
    height: 100%;
    width: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    filter: alpha(opacity=10);
    -moz-opacity: 0.1;
    -khtml-opacity: 0.1;
    opacity: 0.05;
}
.description-news{
    padding: 20px 20px 40px 20px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;    
    -webkit-align-items: center;
    align-items: center;
    position: relative;
    z-index: 3;
}
.part-news{
    flex-grow: 1;
    width: 50px;/*important*/  
}
.part-news .border-img{
    max-width: 206px;
    max-height: 148px;
    background-color: #e6e6e6;
    padding: 6px;
}
.grow-news{
    flex-grow: 4;
    font-size: 1.3em;
    text-align: justify;
    padding-left: 20px;
}
.btn-news-read{
    position: absolute;
    width: 90px;
    height: 25px;
    background-color: #ff0000;
    color: #fff;
    text-align: center;
    display: block;
    right: 26px;
    bottom: 17px;
    border-radius: 20px;
    font-size: 1.2em;
}
.btn-news-read:hover{
    text-decoration: none;
    color: #fff;
}
.btn-news-read span{
    display: inline-block;
    -ms-transform: scale(1.7);
    -webkit-transform: scale(1.7);
    transform: scale(1.7);
}
@media (max-width: 767px){
    .description-news{
        flex-direction: column;
    }
    .part-news{
        width: 100%;
    }
    #noticias {
        padding: 15px 0px;
    }
    .grow-news{
        font-size: 1em;
        padding-left: 0px;
    }
    .part-news .border-img{
        max-width: 100%;
    }
    .btn-news-read{
        font-size: 1em;
        height: 20px;
    }
}
/******************************/
/******* fin Noticias *********/
/******************************/
/******************************/
/********* buscado ************/
/******************************/
.result-search{
    background-color: #fff;
    -webkit-box-shadow: 0px 3px 2px #ccc;
    -moz-box-shadow:    0px 3px 2px #ccc; 
    box-shadow:         0px 3px 2px #ccc;
    border-radius: 4px;
    padding: 5px 15px;
    margin-bottom: 15px;
    cursor: pointer;
}
.result-search:hover{
    background-color: #ff0000;
    -webkit-box-shadow: 0px 1px 2px #890000;
    box-shadow: 0px 1px 2px #890000;
}
.result-search:hover a{
    color: #fff;
}
.result-search a{
    font-size: 1.2em;
    color: #000;
    display: block;
}
.result-search a:before {
    color: #ff0000;
    content: '+';
    display: block;
    position: relative;
    max-width: 0px;
    max-height: 0px;
    left: -38px;
    top: -10px;
    font-size: 32px;
}
.result-search a:hover {
    text-decoration: none;
}
@media (max-width: 767px){
    .result-search a:before{
        left: -16px;
    }
}
/******************************/
/******** fin buscado *********/
/******************************/
@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}
/*******************************/
/*********** Animate ***********/
/*******************************/
.text-buscado{
    animation-name: fadeInLeft;
    animation-delay: 0.2s;
}
.col-sm-4 article:nth-child(1){
    animation-name: zoomIn;
    animation-delay: 0.6s;
}
.col-sm-4 article:nth-child(1){
    animation-name: zoomIn;
    animation-delay: 0.7s;
}
.col-sm-4 article:nth-child(1){
    animation-name: zoomIn;
    animation-delay: 0.8s;
}
.pages-extra{
    animation-name: flipInX;
    animation-delay: 0.9s;
}
.text-news{
    animation-name: fadeInLeft;
    animation-delay: 1.1s;
}
.news:nth-child(1){
    animation-name: rotateInUpLeft;
    animation-delay: 1.1s;
}
.news:nth-child(2){
    animation-name: rotateInUpLeft;
    animation-delay: 1.3s;
}
.news:nth-child(3){
    animation-name: rotateInUpLeft;
    animation-delay: 1.5s;
}

.input-sm {
    height: 23px !important;
    border-width: 1px  !important;
    border-style: solid  !important;
    border-color: rgb(127, 157, 185)  !important;
    border-image: initial  !important;
    padding: 0px 2px 0px 2px  !important;
    margin: 0px  !important;
}
.hrlibre{
    background: #F5911E;   
    margin: 2px ; 
    padding:5px; 
    font-weight: bold;
    display: block;
    color:white;
}
.hrlibre:hover, .hrlibre:focus, .hrlibre:active {
    background: red;
    color: #fff;
    text-decoration: none;
}

.hrcitado, .hrcitado:focus, .hrcitado:hover{
    margin: 2px ; 
    padding:5px; 
    font-weight: bold;
    display: block;

    background: red;
    color: #fff;
    text-decoration: none;
}

.hrbloqueado{
    background: #F5911E;   
    color:white;
    margin: 2px ; 
    padding:5px; 
    cursor: no-drop;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3;
}

ul{
    padding-left: 20px;
}

input#chkConforme, input#chkMailing{
    transform: scale(1.8);
    margin-left: 10px;
    margin-right: 4px;
}


table, th, td {
    vertical-align: middle !important;
}

span.input-group-addon, .form-control, .btn{
    border: 1px solid #808080;
}.animationload {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999999;
    background-color: #0006;
    overflow: hidden;
}#preloader_1 {
    position: absolute;
    left: 50%;
    margin-left: -25px;
    top: 50%;
    transform: translateY(-50%);
}#preloader_1 span:nth-child(3) {
    left: 22px;
    animation-delay: .4s;
}
#preloader_1 span {
    display: block;
    bottom: 0px;
    width: 6px;
    height: 5px;
    background: #e04f5d;
    position: absolute;
    animation: preloader_1 1.5s infinite ease-in-out;
}

.btn-success {
    color: #fff;
    background-color: #1e5496;
    border-color: #1f5599;

}



.btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show>.btn-success.dropdown-toggle {
    color: #fff;
    background-color: #1e5396;
    border-color: #134374;
}


.btn-success:hover {
    color: #fff;
    background-color: #134375;
    border-color: #1e5497;

}
.btn-danger:hover{
    color: #fff;
    background-color: #e0ced0;
    border-color: #e0ced0;
}
.btn-danger {
    color: #fff;
    background-color: #e0ced0;
    border-color: #e0ced0;
}
.btn-danger:not(:disabled):not(.disabled).active,
 .btn-danger:not(:disabled):not(.disabled):active,
  .show>.btn-danger.dropdown-toggle {
    color: #fff;
    background-color: #e0ced0;
    border-color: #e0ced0;
}