﻿
.login-header {
    height: 150px;
    background: #00a39c;
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 4px solid #fca700;
    margin-bottom: 0px;
}

.logo, .bajada {
    color: #FFFFFF;
    font-family: 'Lato', sans-serif, arial;
}

.logo {
    margin-left: 3%;
    margin-top: 2%;
    clear: none;
    font-size: 40px;
    width: 350px;
    line-height: 40px;
    font-weight: bold;
}

.bajada {
    margin-left: 3%;
    clear: left;
    font-size: 20px;
    width: 700px;
}

.logomml {
    background-image: url(logo_mml.png);
    background-size: 400px 100px;
    background-repeat: no-repeat;
    width: 400px;
    height: 100px;
    float: right;
    margin-right: 2%;
}

.login-footer {
    /*height: 75px;*/
    background: none repeat scroll 0 0 white;
    border-top: 1px solid #e7eaec;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}


.copyLegal {
    background: #545454;
    color: #fff;
    text-align: center;
    line-height: 8px;
    padding-top: 23px;
    padding-bottom: 16px;
    font-size: 12px;
}


