.sector-1 {
    background-color: #DDDDE6!important;
}
.sector-2 {
    background-color: #white!important;
}
.text-black {
	color: black!important;
}
.text-azul {
	color: #1A4A84!important;
	font-size: 45px!important;
}
.text-azul-mini {
	color: #1A4A84!important;
}
.text-verde {
	color: #00A39C!important;
	font-size: 45px!important;
}
.text-amp {
	color: #white!important;
	background-color: #00A39C!important;
	font-size: 45px!important;
}
.text-amp-l {
	color: #white!important;
	background-color: #00A39C!important;
	font-size: 10px!important;
}


.owl-controls {
	display: none;
}

.text-info-mini {
	font-size: 18px!important;
	text-align: justify;
}

.linea_am {
	background-color: #00a39b!important;
}
.sector-3 {
    background-color: #1a4a84!important;
}

.corto {
	font-family: sansation; font-size: 8.57pt;color: #ffffff!important;margin-top: 10px;
}

.page-section-neo {
    padding: 0!important;
}

.vinetali{
	/*color: blue;*/
	color: #1A4A84!important;
}

.vinetali .text-info-mini{
	color: black!important;
}
.fa-facebook-f:before, .fa-twitter:before, .fa-youtube:before, .fa-instagram:before {
    /*content: "\f39e";
    color: yellow;*/
	color: #1a4a84!important;
}

.bkg-icon {
    background-color: white;
}

.corto-cab {
    width: 150px;
}

.sin-collapse {
    display: flex!important;
    flex-basis: auto;
}

.info-pie {
	margin-left: -120px;
}

.info-pie-reg {
    text-align: left;
}

.pull-right {
    float: right !important;
}

.detalle-right {
    position: relative;
    z-index: 300;
}

.logo-pie {
    background-image: url(/plugins/images/logo-pie.png);
    /*height: 193px;*/
	height: 183px;
    width: 500px;
	/*top: -195px;*/
	top: -180px;
}

.footer-ext {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #2c3e50;
    color: #fff;
}

.sin-espacio {
    padding: 0;
}

.info-opc {
    background-color: white!important;
    /*border-color: hsl(74, 93%, 32%)!important;*/
	border-color: #988c86!important;
}

.info-opc:hover {
    background-color: white!important;
    border-color: hsl(74, 93%, 32%)!important;
}

.btn-social{
    width: 2.25rem!important;
    height: 2.25rem!important;
}

.junta-li {
    margin-right: 0!important;
    margin-left: 0!important;
}

.para-izq{
	text-align: left;
}

.para-der{
	text-align: right;
}

.sup-anc {
    width: 100%!important;
}

.padre {
  /*background-color: #fafafa;
  margin: 1rem;*/
  padding: 1rem;
  /*border: 2px solid #ccc;*/
  /* IMPORTANTE */
  text-align: center;
}

.li-adjust {
    padding: 0px!important;
    margin-bottom: 0px!important;
}

.desaparecer {
	display: none!important;
}

.desaparecer_ul {
	display: none!important;
}

.aparecer_ul {
	display: block!important;
}

.primero {
	display:none!important;
}

.primeroe {
	display:block!important;
}

#primero:hover .primero {
	display:block!important;
}
.negrita {
	font-weight: bold!important;
	font-size: 25px!important;
}

.anc_obj {
	max-width: 75%!important;
}

.obj_li_ord {
	padding-left: 20px!important;
}

.inc-letra-mini {
	font-size: 1.1rem;
	padding-left: 0px!important;
}

.inc_pie {
	padding-left: 30px!important;
}

@media (min-width: 768px) {
	.footer {
		left: 0px!important;
	}
}