
@font-face {
	font-family: Sansation;
	src: url(/fuentes/general/Sansation_Regular.ttf);
}

@font-face {
	font-family: Sansation_bold;
	src: url(/fuentes/general/Sansation_Bold.ttf);
	font-weight: bold;
}

@font-face {
	font-family: Seravek_medium;
	src: url(/fuentes/general/Seravek-Medium.ttf);
}

@font-face {
	font-family: Seravek_regular;
	src: url(/fuentes/general/Seravek.ttf);
}

@font-face {
	font-family: Avenir;
	src: url(/fuentes/general/Avenir.ttf);
}

@font-face {
	font-family: DIN_Alternate_Bold;
	src: url(/fuentes/general/DIN_Alternate_Bold.ttf);
}

@font-face {
	font-family: Seravek_ExtraLight;
	src: url(/fuentes/general/Seravek-ExtraLight_0.ttf);
}

@font-face {
	font-family: 'icomoon';
	src:url('/fuentes/general/ico/icomoon.eot?-ws5wru');
	src:url('/fuentes/general/ico/icomoon.eot?#iefix-ws5wru') format('embedded-opentype'),
		url('/fuentes/general/ico/icomoon.woff?-ws5wru') format('woff'),
		url('/fuentes/general/ico/icomoon.ttf?-ws5wru') format('truetype'),
		url('/fuentes/general/ico/icomoon.svg?-ws5wru#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-up2:before {
	content: "\e601";
}


/*inicio-ampliacion metropolitano*/
body{
	/* font-family: Sansation!important; */
	font-family: Open Sans!important;
}
.sector-1 {
    background-color: #DDDDE6!important;
}
.sector-2 {
    background-color: #white!important;
}
.sector-cel {
    background-color: #ecf4fc!important;
}
.text-white {
	color: white!important; 
}
.text-black {
	color: black!important; 
}
.text-azul {
	color: #1A4A84!important;
	font-size: 45px!important;
}
.text-azes {
	color: #1A4A84!important;
	font-size: 15px!important;
}
.text-azul-mini {
	color: #1A4A84!important;
}
.text-verde {
	color: #00A39C!important;
	font-size: 45px!important;
}
.text-amp {
	color: #white!important;
	background-color: #00A39C!important;
	font-size: 45px!important;
}
.text-amp-l {
	color: #white!important;
	background-color: #00A39C!important;
	font-size: 10px!important;
}


.owl-controls {
	display: none;
}

.text-info-mini {
	font-size: 20px!important;
	text-align: justify;
}

.text-info-minis {
	font-size: 25px!important;
	text-align: justify;
}

.linea_am {
	background-color: #00a39b!important;
}
.sector-3 {
    background-color: #1a4a84!important;
}

.corto {
	/* font-family: sansation; font-size: 8.57pt;color: #ffffff!important;margin-top: 10px; */
	font-family: Open Sans; font-size: 8.57pt;color: #ffffff!important;margin-top: 10px;
}

.page-section-neo {
    padding: 0!important;
}

.sinvin {
	list-style: none;
}

.vinetali{
	color: #1A4A84!important;
}

.vinetali .text-info-mini{
	color: black!important;
}
.fa-facebook-f:before, .fa-twitter:before, .fa-youtube:before, .fa-instagram:before, .fa-flickr:before {
	color: #1a4a84!important;
}

.bkg-icon {
    background-color: white;
}

.corto-cab {
    width: 150px;
}

.sin-collapse {
    display: flex!important;
    flex-basis: auto;
}

.info-pie {
	margin-left: -120px;
}

.info-pie-reg {
    text-align: left;
}

.pull-right {
    float: right !important;
}

.detalle-right {
    position: relative;
    z-index: 300;
}

.logo-pie {
    background-image: url(/plugins/images/logo-pie.png);
    /*height: 193px;*/
	height: 183px;
    width: 500px;
	top: -180px;
}

.footer-ext {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #2c3e50;
    color: #fff;
}

.sin-espacio {
    padding: 0;
}

.col-right-ren {
	text-align: right!important;
}
.col-left-ren {
	text-align: left!important;
}

.render-text-left {
	text-align: left!important;
}

.info-opc {
    background-color: white!important;
	border-color: #988c86!important;
}

.info-opc:hover {
    background-color: white!important;
    border-color: hsl(74, 93%, 32%)!important;
}
.swal-wide{
    width: 1050px !important;
}
.swal2-popup{
    width:70% !important;
}

.render-img-mod {
    /*width: 441px!important;
    height: 300px!important;*/
    width: 588px!important;
    height: 400px!important;
}

.btn-social{
    width: 3.25rem!important;
    height: 3.25rem!important;
}

.junta-li {
    margin-right: 0!important;
    margin-left: 0!important;
}

.para-izq{
	text-align: left;
}

.para-der{
	text-align: right;
}

.sup-anc {
    width: 100%!important;
}

.padre {
  padding: 1rem;
  text-align: center;
}

.selecciones {
	padding: 0;
	float: right;
	width: 70%!important;
}
.selecciones li {
	display: inline;
}
.selecciones li a {
	font-family: Arial;
	font-size: 15px;
	text-decoration: none;
	float: left;
	padding: 12px!important;
	color: #fff;
	border-right-style: inset;
	border-right-color: white!important;
}
.selecciones li a:hover {
	/*background-color: gray;*/
	color: #f49c2c!important;
	margin-top: -2;
	padding-bottom: 12px;
}

.li-adjust {
    padding: 0px!important;
    margin-bottom: 0px!important;
}

.desaparecer {
	display: none!important;
}

.desaparecer_ul {
	display: none!important;
}

.aparecer_ul {
	display: block!important;
}

.primero {
	display:none!important;
}

.primeroe {
	display:block!important;
}

#primero:hover .primero {
	display:block!important;
}
/*.negrita {
	font-weight: bold!important;
	font-size: 25px!important;
}*/

.anc_obj {
	max-width: 75%!important;
}

.obj_li_ord {
	padding-left: 20px!important;
}

.inc-letra-mini {
	font-size: 1.1rem;
	padding-left: 0px!important;
}

.inc_pie {
	padding-left: 30px!important;
}

/*fin-ampliacion metropolitano*/

.render-gran {
    background-color: #a4544c!important;
}
.render-azu {
    background-color: #004789!important;
}
.render-plo {
    background-color: #ececec!important;
}
.render-gre {
    background-color: #00a39c!important;
}
.render-whi {
    background-color: white!important;
}
.renderf-whi {
    color: white!important;
}
.render-obl {
    background-color: #545454!important;
}
.render-cel {
    background-color: #ecf4fc!important;
}
.cab-render {
	border-bottom: 4px solid #FCA700!important;
}

.men-render {
    color: #fff!important;
    text-transform: uppercase!important;
    font-weight: 400!important;
    font-size: 13px!important;
	padding: 10px 12px!important;
}
.gsc-input-box {
	background-color: #00a39c!important;
}
.gsc-input-box {
    border: 1px solid #00a39c!important;
}
.gsib_a {
    padding: 0px!important;
}
.pad-ajus {
	padding: 0px!important;
}
table.gsc-search-box td.gsc-input {
    padding-right: 0px!important;
}
.gsc-input {
	background: #eeeeeebd!important;
    border-radius: 33px !important;
}

.gsc-control-cse {
    border-color: #00a39c!important;
    background-color: 00a39c!important;
}
.cse .gsc-control-cse, .gsc-control-cse {
    background-color: #00a39c!important;
    border: 1px solid #00a39c!important;
    padding: 0px!important;
}
.gsc-search-button-v2 {
	display: none!important;
}

.ifResp { 
	width: auto; 
	height: auto; 
	margin: 0 auto; 
	display: block; 
} 

.embed-responsive {
	 position: relative;
	 display: block;
	 width: 100%;
	 padding: 0;
	 overflow: hidden;
}
 .embed-responsive::before {
	 display: block;
	 content: "";
}
 .embed-responsive .embed-responsive-item, .embed-responsive iframe, .embed-responsive embed, .embed-responsive object, .embed-responsive video {
	 position: absolute;
	 top: 0;
	 bottom: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 border: 0;
}
 .embed-responsive-21by9::before {
	 padding-top: 42.8571428571%;
}
 .embed-responsive-16by9::before {
	 padding-top: 56.25%;
}
 .embed-responsive-4by3::before {
	 padding-top: 75%;
}
 .embed-responsive-1by1::before {
	 padding-top: 100%;
}
.embed-responsive-by::before {
    padding-top: 10%;
}

.img-st {
	height: 42px!important;
}
.img-sts {
	height: 19px!important;
}
.img-stsp {
	height: 62px!important;
}
.img-stspa {
	height: 48px!important;
}


#sidebar .menu-mobile ul li a:before{    
	content: " "; height: 1px; width: 33px; background: #fff; display: block; position: relative; top: 29px; margin: 0 auto;
}

.navbar-nav, .sec-nav {
    display: flex!important;
    align-items: center!important;
}
.tituloTrans {
    font-size: 36px;
}
._4i-s{
	display:none!important;
}

.bot-busq {
	background-color: #04a49c!important;
	color: white!important;
	width: 30%!important;
	font-size: 14px;
    padding: .8rem 1.2rem;	
}

.fa-plataform-red-social:before {
	color: #a4544c!important;
}

.letter-gran {
	color: #1A4A84!important;
}

.render-gran-width {
	max-width: 75%!important;	
}

.render-pad{
	text-align:center;
}

.render-hij {
	margin:0px auto;
}

.render-hij-a {
	padding: 0px!important;
}

.render-cuerpo-gran {
	/*background-color: #d4743c!important;*/
	background-color: #f47434!important;
}

.render-cuerpo-gran-2 {
	/*background-color: #8c2c2c!important;*/
	background-color: #8c2c2c!important;
	/*background-image: url(/uploads/PlanMaestro/body_5.png);
	background-repeat: no-repeat;*/
}

.render-cuerpo-gran-3 {
	background-image: url(/uploads/PlanMaestro/body_7.png);
	background-repeat: no-repeat;
	/*background-attachment: fixed;*/
}

.render-cuerpo-gran-4 {
	background-color: #ececec!important;
}

.render-cuerpo-gran-5 {
	background-color: #f4d4ac!important;
}

.render-letter-white {
	color: white!important;
}

.render-letter-black {
	color: #525252!important;
}

.divider-custom {
    margin: 1.25rem 0 1.5rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.divider-custom .divider-custom-line-2 {
    width: 100%;
    max-width:  100%;
    /*width: 30%;
    max-width:  30%;*/
    height: .25rem;
    border-radius: 1rem;
}

.divider-custom .divider-custom-line-4 {
    height: 0rem!important;
}

@media (min-width: 992px)
.page-section .page-section-heading {
    font-size: 3rem;
    line-height: 0rem;
}

.divider-custom .divider-custom-line {
    /*width: 100%;
    max-width:  50%;*/
    width: 10%;
    max-width:  10%;
    height: .25rem;
    background-color: #2c3e50;
    border-radius: 1rem;
    border-color: #2c3e50!important
}

.divider-custom .divider-custom-line:first-child {
    margin-right: 1rem
}

.divider-custom .divider-custom-line:last-child {
    margin-left: 1rem
}

.divider-custom .divider-custom-icon {
    color: #2c3e50!important;
    font-size: 2rem
}

.divider-custom.divider-light .divider-custom-line {
    background-color: #fff
}

.divider-custom.divider-light .divider-custom-icon {
    color: #fff!important
}

.line-td-ref {
    border: 2px solid transparent!important;
    border-top: 2px solid transparent!important;
    padding: 0px!important;
    /*align-items: center;
    vertical-align: middle!important;*/
}
.line-td-refa {
    border: 2px solid transparent!important;
    border-top: 2px solid transparent!important;
    padding: 0px!important;
    /*align-items: center;
    vertical-align: middle!important;*/
}

.render-foto {
	width: 900px!important;
	height: 608px!important;
}

.render-foto-1 {
	width: 381px!important;
	height: 300px!important;
}

.tr-redim {
	padding: 0px 10px!important;
	width: 50px!important;
	vertical-align: top!important;
}

.tr-redimc {
	vertical-align: middle!important;
}

.tr-redim-img {
    padding: 0px 0px!important;
    width: 50px!important;
}

.tr-redim-imgglo {
    padding: 0px 0px!important;
    width: 70px!important;
}
.tr-redim-imgglon {
    padding: 0px 0px!important;
    width: 100px!important;
}
.tr-redim-imgglos {
    padding: 0px 0px!important;
    width: 130px!important;
}
.tr-redim-imgglosn {
    padding: 0px 0px!important;
    width: 160px!important;
}
.render-letterSubtTitle {
	color: #744c44!important;
    font-size: 4.5rem!important;
}
.render-letterSubtTitleEx {
    color: #1A4A84!important;
    font-size: 3rem!important;
}
.render-letterSubtTitleExT {
    font-size: 2rem!important;
	font-weight: 700;
}

.carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
  transform: translateX(33.33%);
}

.carousel-inner .carousel-item-left.active, 
.carousel-inner .carousel-item-prev {
  transform: translateX(-33.33%)
}
  
.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}

.correcto {
	outline : #ffffff!important;
}
.incorrecto {
	outline : 1px solid red!important;
}
/* @media not only screen and (max-width: 1000px) and (min-width: 10px) { { */
	.tabOver {
		overflow: scroll!important;
	}
/* } */
.secMapFoot , #secMap , #secMapO , #secMapD {
	padding: 1rem 1rem!important;
}

.render-gran-width-pmax {
	max-width: 40%!important;	
}
.render-gran-width-lmax {
	max-width: 60%!important;	
}
.render-gran-width-mmax {
	max-width: 80%!important;	
}
.render-gran-width-max {
	max-width: 90%!important;	
}
.render-gran-width-umax {
	max-width: 100%!important;
	padding: 0px!important;
}

.render-color-text {
	color: #ac342c!important;
	font-size: 20px!important;
}

.render-ico {
	width: 61px!important;
	height: 60px!important;
}
.render-ico-cpf {
	width: auto!important;
	height: 60px!important;
}

.rendTitle {
	font-size: 5rem!important;
	color: #1a4a84!important;
}

.render-ico-cab {
	width: 224px!important;
	height: 60px!important;
}

.render-img {
	display:block!important;
	margin:auto!important;
}

.logo-pie {
	top: 0px!important;
}

.negrita {
	font-weight: bold!important;
	font-size: 20px!important;
}

.negrita-extra {
	font-weight: bold!important;
	font-size: 25px!important;
}

.negritas {
	font-weight: bold!important;
	font-size: 25px!important;
}

.negritas-extra {
	font-weight: bold!important;
	font-size: 30px!important;
}
/*
.negritapag {
	font-weight: bold!important;
	font-size: 20px!important;
}
*/

.negritapagfilt {
	font-weight: bold!important;
	font-size: 35px!important;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.centerFlex {
/* Internet Explorer 10 */
display:-ms-flexbox;
-ms-flex-pack:center;
-ms-flex-align:center;
/* Firefox */
display:-moz-box;
-moz-box-pack:center;
-moz-box-align:center;
/* Safari, Opera, and Chrome */
display:-webkit-box;
-webkit-box-pack:center;
-webkit-box-align:center;
/* W3C */
display:box;
box-pack:center;
box-align:center;
}

h4.headertekst, h2.headertekst {
  text-align: center!important;
}

.MultiCarousel { float: left; overflow: hidden; padding: 15px; width: 100%; position:relative; }
.MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
.MultiCarousel .MultiCarousel-inner .item { float: left;}
.MultiCarousel .MultiCarousel-inner .item > div { text-align: center; padding:10px; margin:10px; background:#f1f1f1; color:#666;}
.MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }
.MultiCarousel .leftLst { left:0; }
.MultiCarousel .rightLst { right:0; }
.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#ccc; }
/*
.redimItem {
	width:560px!important; 
	height:426px!important;
}*/

.second-table {
	background-color: transparent!important;
}

.bg-primary {
    background-color:white!important;
}

.img-contact {
	width: 323px!important;
	height: 60px!important;
}
.img-contact-1 {
	/*width: 177px!important;
	height: 60px!important;*/
	/*width: 285px!important;
	height: 60px!important;*/
	width: 380px!important;
	height: 80px!important;
}

@media (min-width: 768px) {
	.footer {
		left: 0px!important;
	}
}
.respDivDesk {
	display: none!important;
}
#mainNav, #mainNav-7, #mainNav-20 {
	display: block;
}
#mainNav-3, #mainNav-6, #mainNav-21, .mobilefoota {
	display: none;
}

#idlogoMuni {
	display: block;
    margin: auto;
}

.imgMunlima {
	width: 202px!important;
	height: 60px!important;
}

.fondoEspecial {
	background-image: url(/uploads/lima_lab/limalab_3.png);
	background-repeat: no-repeat;
	background-position: top right;	
	background-size: 996px 129px;
}

a:not([href]):not([tabindex]) {
    color: white!important;
}

.imglin {
    max-width: 50%!important;
}

.imgpremlin {
    max-width: 90%!important;
}

@media (min-width: 992px)
.pr-lg-3, .px-lg-3, .pl-lg-3, .px-lg-3 {
    padding-right: 0rem!important;
    padding-left: 0rem!important;
}

.pb-3, .py-3 {
    padding-bottom: 0rem!important;
}

.fondoLimaLab {
	background-image: url(/uploads/lima_lab/limalab_7.png);
	background-repeat: no-repeat;
	background-position: bottom right;	
	background-size: 917px 621px;
}

.borderlimalab {
	border-bottom: 20px solid #f49c2c!important;
}

.letra-gr {
	color: #00a39c!important;
	font-weight: bold!important;
}

.letra-az {
	color: #1a4a84!important;
	font-weight: bold!important;
}

.letra-na {
	color: #f49c2c!important;
	font-weight: bold!important;
}

.rounded {
    border-radius: 0rem!important;
	/*height: 10px!important;*/
}

.table td, .table th {
    vertical-align: middle;
}

.imgEst {
	margin:auto;
	vertical-align: middle;
	float: none;	
}


.st-lines-uni {
	display: inline!important;
	width: 100%!important;
}
.st-lines{
	display: inline!important;
    padding: 9px;
	margin: 0px;
	font-size: 25px!important;
	border-radius: 22px 22px 22px 22px;
	-moz-border-radius: 22px 22px 22px 22px;
	-webkit-border-radius: 22px 22px 22px 22px;	
	border: 0px solid #000000;	
	
    font-size: 23px;
    /*text-align: center;*/
    align-content: center;
    font-weight: bold!important;
	width: 100%!important;
}
.st-lines-nar {
	background-color: #EA6200!important;
	color: white!important;
}
.st-lines-nar1 {
	background-color: #fc9c04!important;
	color: white!important;
}
.st-lines-red {
	background-color: #e4040b!important;
	color: white!important;
}
.st-lines-whi {
	background-color: white!important;
	color: black!important;
}
.st-lines-gre {
	background-color: #00A39C!important;
	color: white!important;
}
.st-lines-tgre {
	color: #00A39C!important;
}
.despAvi {
	width: 60%!important;
}
.despAviCompany {
	width: 20%!important;
}
/*
.st-line {
	display: inline!important;
    color: white;
    background-color: #00A39C!important;
    padding: 9px;
	margin: 0px;
	font-size: 25px!important;
	border-radius: 22px 22px 22px 22px;
	-moz-border-radius: 22px 22px 22px 22px;
	-webkit-border-radius: 22px 22px 22px 22px;	
	border: 0px solid #000000;	
	
    font-size: 23px;
    text-align: center;
    align-content: center;
    font-weight: bold;
	font-family: Sansation;
}
.st-line-in {
	background-color: #EA6200!important;
}
.st-line-in-ex {
	background-color: #e4040b!important;
}
.st-line-in-wh {
	background-color: white!important;
	color: black!important;
	font-weight: bold!important;
	display: inline!important;
}*/
.divider-custom .divider-custom-line-5 {
    width: 40%;
    max-width: 40%;
    height: .25rem;
    background-color: #00A39C;
    border-radius: 1rem;
    border-color: #2c3e50!important
}

/* .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 15px 0px;
}
 */
.tr-resp {
	width:100%!important;
}
.td-resp {
	width:50%!important;
}

.modalResp {
	 max-width: 650px!important;
}

.img-extra {
	min-width: 50%!important;
	max-width: 70%!important;
}

.subTituloForm {
    color: rgb(255, 255, 255)!important;
    display: inline!important;
    font-family: Poppins, sans-serif!important;
}

.subTituloFormPU {
    /*color: rgb(255, 255, 255)!important;*/
    display: inline!important;
    font-family: Poppins, sans-serif!important;
}

.linkEst {
	color: #337ab7!important;
}

.modal-MML {
    /*max-width: 850px;*/
}
.modal-MML .modal-header {
    background-color: #00a39c;
    color: #ffffff;
}
.modal-MML .modal-title {
    color: #000000;
    font-weight: bold;
}

.modal-MML-lg {
    max-width: 850px;
}
.modal-MML-lg .modal-header {
    background-color: #00a39c;
    color: #ffffff;
}
.modal-MML-lg .modal-title {
    color: #000000;
    font-weight: bold;
}

.modal-MML-xlg {
    max-width: 950px;
}
.modal-MML-xlg .modal-header {
    background-color: #00a39c;
    color: #ffffff;
}
.modal-MML-xlg .modal-title {
    color: #000000;
    font-weight: bold;
}

.modal-MML-xxlg {
    max-width: 1200px;
}
.modal-MML-xxlg .modal-header {
    background-color: #00a39c;
    color: #ffffff;
}
.modal-MML-xxlg .modal-title {
    color: #000000;
    font-weight: bold;
}

.modal-MML-xxxlg {
    max-width: 1600px;
}
.modal-MML-xxxlg .modal-header {
    background-color: #00a39c;
    color: #ffffff;
}
.modal-MML-xxxlg .modal-title {
    color: #000000;
    font-weight: bold;
}

.modal-MML-xxxxlg {
    max-width: 1900px;
}
.modal-MML-xxxxlg .modal-header {
    background-color: #00a39c;
    color: #ffffff;
}
.modal-MML-xxxxlg .modal-title {
    color: #000000;
    font-weight: bold;
}

.modal-MML-max {
    max-width: 100%;
}
.modal-MML-max .modal-header {
    background-color: #00a39c;
    color: #ffffff;
}
.modal-MML-max .modal-title {
    color: #000000;
    font-weight: bold;
}
.modal-over-plugin{
    margin-top: 0px !important;
}
.modal-header{
	display:block;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eceeef;	
}

.modal-header .modal-title{
	margin-top:0;
}
.panel-MML-green .panel-heading { 
	color: #FFFF !important; 
}
.modal-MML-lg .modal-title {
	color: #FFFF !important;
}
.modal-MML-xxxlg .modal-title {
	color: #FFFF !important;
}
.modal-MML-xxlg .modal-title {
	color: #FFFF !important;
}
.modal-MML-xlg .modal-title {
	color: #FFFF !important;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: gray;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

.text-med {
	text-align: center;
}
.text-lef {
	text-align: left!important;
}
.text-rig {
	text-align: right!important;
}

.modGrid {
	/* padding: 15px!important; */
	/* margin: 5px!important; */
	padding: 15px 10px!important;
    margin: 15px!important;
}

.mapaResp {
	height:500px!important;
}

.imgPopUp {
	/*max-height: 500px;width: auto;*/
	max-width: 100%;
	height: auto;	
}

.stCol {
	text-align: right;
}

.col-md-7, .col-md-5 {
	padding-right: 0px!important;
    padding-left: 0px!important;
}

.gifForm {
	color: #0e68ef!important;
}

.indicadorLicP {
	font-size: 40px!important;
    color: orange!important;
	font-weight: bold!important;
}
.indicadorLicA {
	font-size: 40px!important;
    color: #00a39c!important;
	font-weight: bold!important;
}
.indicadorLicN {
	font-size: 40px!important;
    color: red!important;
	font-weight: bold!important;
}
.indicadorLicC {
	font-size: 40px!important;
	font-weight: bold!important;
}
.tarjetaLice {
	font-size: 40px!important;
	font-weight: bold!important;
}
/*
.select2 {
	width:100%!important;
}
.select2{
    max-width: 100%!important;
}
.select2-selection { overflow: hidden; }
.select2-selection__rendered { white-space: normal; word-break: break-all; }*/

.tarjOp {
	margin: 0px!important;
    padding: 0px!important;
}

.forMap {
	height: 600px!important
}

.infoText {
	font-size: 28px!important;
}


.social {
	position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
	left: 0; /* Establecemos la barra en la izquierda */
	top: 200px; /* Bajamos la barra 200px de arriba a abajo */
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}

.social ul {
	list-style: none;
}

.social ul li a {
	display: inline-block;
	color:#fff;
	background: #000;
	padding: 10px 15px;
	text-decoration: none;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
}

.social ul li .icon-facebook {background:#3b5998;} /* Establecemos los colores de cada red social, aprovechando su class */
.social ul li .icon-twitter {background: #00abf0;}
.social ul li .icon-googleplus {background: #d95232;}
.social ul li .icon-pinterest {background: #ae181f;}
.social ul li .icon-mail {background: #666666;}

.social ul li a:hover {
	background: #000; /* Cambiamos el fondo cuando el usuario pase el mouse */
	padding: 10px 30px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
}

.social {
	position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
	left: 0; /* Establecemos la barra en la izquierda */
	top: 200px; /* Bajamos la barra 200px de arriba a abajo */
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}
 
.social ul {
	list-style: none;
}

.social ul li a {
	display: inline-block;
	color:#fff;
	background: #000;
	padding: 10px 15px;
	text-decoration: none;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
}

.social ul li .icon-facebook {background:#3b5998;} /* Establecemos los colores de cada red social, aprovechando su class */
.social ul li .icon-twitter {background: #00abf0;}
.social ul li .icon-googleplus {background: #d95232;}
.social ul li .icon-pinterest {background: #ae181f;}
.social ul li .icon-mail {background: #666666;}

.social ul li a:hover {
	background: #000; /* Cambiamos el fondo cuando el usuario pase el mouse */
	padding: 10px 30px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
}	

.text-azesd {
	font-size: 12px!important;
}

.text-li {
	font-size: 9.6px!important;
	text-align: left!important;
	padding: 0px!important;
}

.text-a {
    color: #1f256e!important;
}

/*INICIO-BOTONES SOCIALES*/
.social-buttons {
	position: fixed;
	top: 193px;
	width: 45px;
	z-index: 9999; }

.button-left { left: 0; }

.button-right {right: -4px;}

.social-buttons #twitter-btn .social-icon, 
.social-buttons #facebook-btn .social-icon, 
.social-buttons #google-btn .social-icon, 
.social-buttons #rss-btn .social-icon,
.social-buttons #pinterest-btn .social-icon,
.social-buttons #youtube-btn .social-icon {
	background-color: #33353B;
	background-image: url('/uploads/general/social-icons.png'); }

.button-left #facebook-btn span { background-position: right 10px; }

.button-left #twitter-btn span { background-position: right -35px; }

.button-left #google-btn span { background-position: right -127px; }

.button-left #rss-btn span { background-position: right -80px; }

.button-left #pinterest-btn span { background-position: right -177px; }

.button-left #youtube-btn span { background-position: right -223px; }

.button-right #facebook-btn span { background-position: 12px 10px; }

.button-right #twitter-btn span { background-position: 11px -35px; }

.button-right #google-btn span { background-position: 10px -127px; }

.button-right #rss-btn span { background-position: 9px -210px; }

.button-right #pinterest-btn span {  background-position: 9px -256px; }

.button-right #youtube-btn span { background-position: 11px -168px; }

.social-buttons #facebook-btn:hover .social-icon { background-color: #3B5998; }

.social-buttons #twitter-btn:hover .social-icon { background-color: #62BDB2; }

.social-buttons #google-btn:hover .social-icon { background-color: #DB4A39; }

.social-buttons #rss-btn:hover .social-icon { background-color: #FF8B0F; }

.social-buttons #pinterest-btn:hover .social-icon { background-color: #D43638; }

.social-buttons #youtube-btn:hover .social-icon { background-color: #C4302B; }

.social-buttons a:hover .social-text { display: block; }

.button-left .social-icon {
	transition: background-color 0.4s ease-in 0s;
	-webkit-transition: background-color 0.4s ease-in 0s;
	background-repeat: no-repeat;
	display: block;
	float: left;
	height: 43px;
	margin-bottom: 2px;
	width: 43px; }

.button-left .social-text {
	display: none;
	float: right;
	font-size: 11px;
	font-weight: bold;
	margin: 11px 40px 11px 0px;
	white-space: nowrap; }

.button-right .social-icon {
	transition: background-color 0.4s ease-in 0s;
	-webkit-transition: background-color 0.4s ease-in 0s;
	background-repeat: no-repeat;
	display: block;
	float: right;/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/
	height: 43px;
	margin-bottom: 2px;
	width: 43px; }

.button-left .social-icon {
	transition: background-color 0.4s ease-in 0s;
	-webkit-transition: background-color 0.4s ease-in 0s;
	background-repeat: no-repeat;
	display: block;
	float: left;/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/
	height: 43px;
	margin-bottom: 2px;
	width: 43px;
 }


.button-right .social-text {
	display: none;
	float: left;
	font-size: 11px;
	font-weight: bold;
	margin: 11px 0 11px 40px;
	white-space: nowrap; 
}
	
.ie8 .button-right .social-icon, .ie8 .button-right .social-text{
	font-size:10px
}

.social-buttons .social-text { 
	color: #FFFFFF;
}
/*FIN-BOTONES SOCIALES*/
#en_vivo {
	color: #004789!important;
	line-height: 48px!important;
	font-size: 36px!important;
	font-weight: bold!important;
}

.breadcrumb {
    background-color: #fff!important;
    padding-left: 0px!important;
    padding: 8px 15px!important;
        padding-left: 15px!important;
    margin-bottom: 20px!important;
    list-style: none!important;
    /* background-color: #f5f5f5!important; */
    border-radius: 4px!important;
    margin: 10px 0!important;
        margin-bottom: 10px!important;
}
.breadcrumb span {
    text-transform: uppercase!important;
    color: #000!important;
    font-size: 12px!important;
}
.breadcrumb > li {
    text-shadow: 0 1px 0 #fff!important;
}
.breadcrumb > li > .divider {
    padding: 0 5px!important;
    color: #ccc!important;
}
.breadcrumb span {
    text-transform: uppercase!important;
    color: #000!important;
    font-size: 12px!important;
}
.breadcrumb > li:last-child {
    font-weight: 900!important;
}
.breadcrumb > .active {
    color: #777!important;
}
.breadcrumb > li {
    text-shadow: 0 1px 0 #fff!important;
}
.breadcrumb > li:last-child span {
    color: #1f256e !important;
}
.breadcrumb span {
    text-transform: uppercase!important;
    font-size: 12px!important;
}
.breadcrumb > li + li::before {
    content: " "!important;
    padding: 0!important;
}
.breadcrumb > li + li::before {
    padding: 0 5px!important;
    color: #ccc!important;
}

#sidebarCollapse {
    position: absolute!important;
    right: 0px!important;
	border-radius: 0px!important;
    margin: 0px!important;
    padding: 0px!important;
	top: 60px!important;
}
#sidebar {
	z-index: 1030!important;
}
.vertical-nav {
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}

.page-content {
  /* width: calc(100% - 17rem); */
  /* margin-left: 17rem; */
  transition: all 0.4s;
}

/* for toggle behavior */

#sidebar.active {
  margin-left: -17rem;
}

#content.active {
  width: 100%;
  margin: 0;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -17rem;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  }
}


.text-left {
	text-align: left!important;
}

.pagination {
	display: inline-block!important;
}

.hiddenRow {
    padding: 0 4px !important;
    background-color: #eeeeee;
    font-size: 13px;
}
.accordian-body span{
	color:#a2a2a2 !important;
}
.modatStat {
	/* background-color: black!important; */
	background-color: rgba(0,0,0,0.75)!important;
}

input[type="date"] {
	text-align: center!important;
}
.txt-subt-1{
	font-size: 40px!important;
	font-weight: bold!important;
	color: #EA6200!important;
}
.txt-cuer-1{
	font-size: 30px!important;
}
.txt-titc-1{
	font-size: 50px!important;
	font-weight: bold!important;
	color: #00A39C!important;
	text-align: center!important;
}
.txt-titc-2{
	font-size: 45px!important;
	color: #1A4A84!important;
	text-align: center!important;
	font-weight: bold!important;
}
.txt-titm-1{
	font-size: 70px!important;
	font-weight: bold!important;
	background-color: #EA6200!important;
	color: white!important;
	text-align: center!important;
}
.txt-titm-2{
	font-size: 70px!important;
	font-weight: bold!important;
	color: #1A4A84!important;
	text-align: center!important;
}
.txt-titmr-2{
	font-size: 45px!important;
	color: #10040c!important;
	text-align: left!important;
	font-weight: bold!important;
}
.txt-titmr-2-ajust{
	color: #1A4A84!important;
}
.txt-titf-1{
	font-size: 35px!important;
	color: #10040c!important;
	text-align: left!important;
}
.txt-titf-2{
	font-size: 60px!important;
	font-weight: bold!important;
	color: #1A4A84!important;
	text-align: left!important;
}
.txt-resum{
	font-size: 45px!important;
	color: white!important;
	background-color: #00A39C!important;
	text-align: left!important;
	font-weight: bold!important;
	border-radius: 25px;
}
.bk-bod {
	background-color: #f0ecec!important;
}
.objtrans {
	opacity: 0.1!important;
}
.objtrans:hover {
	opacity: 1!important;
}
.cp {
	cursor: pointer!important;
}
.cpw {
	cursor: pointer!important;
	color: white!important;
}
.cpa {
	cursor: pointer!important;
	color: #00A39C!important;
}
.cpn {
	cursor: pointer!important;
	color: black!important;
}
.form-control {
	padding: 7px 3px!important;
}
.btn-xxxlg {
	font-size: 50px!important;
	padding: 10px 16px;
}

.desplegar {
	display: block!important;
}
#idBodyPage{
	padding-right: 0px!important;
}
.botSlid {
	background-color: #04a494!important;
    border-radius: 10px!important;
    padding: 10px!important;
}
.stCap {
	font-size: 20px!important;
    margin-bottom: 0px!important;
}
.btnAju {
	margin-top: 0px!important;
}
.w-70 {
    width: 70%!important;
}
.w-80 {
    width: 80%!important;
}
.w-90 {
    width: 90%!important;
}
.w-100 {
    width: 100%!important;
}
.ancImg{
	width: 35px!important;
	vertical-align: top!important;
	border-color: transparent!important;
}
.ancImgL{
	width: 60px!important;
	vertical-align: top!important;
	border-color: transparent!important;
}
.ancImgF{
	width: 95px!important;
	vertical-align: top!important;
	border-color: transparent!important;
}
.btra{
	border-color: transparent!important;
}
.text-info-mini-rr {
    font-size: 40px!important;
    text-align: justify;
}
.text-info-mini-rra {
    font-size: 70px!important;
    text-align: justify;
}
.rettbody {
    color: #212529!important;
}
.lhg {
	line-height: 70px!important;
}
.lh {
	line-height: 50px!important;
}
.lha {
	line-height: 25px!important;
}
.text-info-mini-lt {
    font-size: 15px!important;
    text-align: justify;
}
.negrita-lt {
    font-weight: bold!important;
    font-size: 15px!important;
}
.txt-titf-la {
    font-size: 25px!important;
    color: #10040c!important;
    text-align: left!important;
}
.txt-titf-laa {
    font-size: 25px!important;
    text-align: left!important;
}
.rendTitlea{
	font-size: 35px!important;
	color: #06447F!important;
}
.text-info-mini-rrl {
    font-size: 40px!important;
}
.txt-titf-sb {
    font-size: 20px!important;
}
.imgCort{
    width: 20px!important;
    height: 20px!important;
}
.imgCortmail{
    width: 50px!important;
    height: 50px!important;
}
.imgRedimLar{
    width: 103px!important;
    height: 110px!important;
}
.imgGr{
    height: 434px!important;
}
.subCont {
    font-size: 50px!important;
    font-weight: bold;
}
.subConta {
    font-size: 30px!important;
    font-weight: bold;
}
.appbor { background-color: #ecf4fc!important; border-radius: 60px; }
.aappbor { background-color: #ecf4fc!important; border-radius: 0px; }
.infotr {
	padding: 10px 0px!important;
}

.infoCab {
	line-height: 5rem!important;
	text-align: center!important;
	font-size: 40px!important;
}
.infoTextL {
	line-height: 3rem!important;
    text-align: left!important;
    font-size: 20px!important;
	color: black!important;
}
.infoTextG {
	font-size: 25px!important;
    font-weight: bold;
    color: #1a4a84!important;
}
.infoSubCab {
	font-size: 35px!important;
    font-weight: bold;
    color: #00A39C!important;
}
.tendCab {
    margin-right: 0px!important;
    margin-left: 0px!important;
}
.stBtnLd {
    margin: 0px!important;
}
.stTitLdf {
    font-size: 20px!important;
    font-weight: bold!important;
}
.bkred {
	background-color: red!important;
}
.bkcaspf {
    background-image: url(/uploads/ConvocatoriasCas/landing_convocatorias_cas_preguntas_frecuentes_1.png)!important;
    background-repeat: no-repeat!important;
    background-size: 100% auto!important;
}
.stTdg {
    width: 80px!important;
}
.stTd {
    width: 35px!important;
	vertical-align: top!important;
}
.stTdgTit {
    font-size: 25px!important;
}
.stTdgTr {
    padding-bottom: 10px!important;
	text-align: justify!important;
}

.table-MML thead {
    background: #00A7A0!important;
}
.table-MML thead>tr>th {
    color: white!important;
    vertical-align: middle!important;
}
.table-MML tbody>tr>td {
    color: #000000!important;
    vertical-align: middle!important;
}

.stModAjus_1{
	margin-top: 130px!important;
}
.stModAjus_2{
	margin-top: 240px!important;
}
.stModAjus_3{
	margin-top: 370px!important;
}
.stModAjus_4{
	margin-top: 500px!important;
}

.stContDiv {
    margin-left: 0.1px!important;
    margin-right: 0.1px!important;
	max-width: 100%!important;
}
.mbex, .mfex {
	padding: 1rem 1rem!important;
}
/* .modal-open .select2-dropdown { */
/* z-index: 10060; */
/* } */

/* .modal-open .select2-close-mask { */
/* z-index: 10055; */
/* } */
/* .select2-container { z-index: 99999; }  */

.secActa {
    background-color: #ec1c24!important;
	color: white!important;
	margin: 0px!important;
}
.b-white{
	color: white!important;
	text-align: center!important;
}

.contenedorImg {
    position: relative;
    display: inline-block;
    text-align: center;
}

.texto-encimaImg {
    position: absolute;
    top: 10px;
    left: 10px;
}
.centradoImg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pieActa {
	background-color: white!important;
}

.pieActaCent {
	background-color: white!important;
	border-top: 5px #5e5e5e solid!important;
}

.imgM {
    width: 135px!important;
    height: 41px!important;
	float: left;
}

.imgB {
    width: 106px!important;
    height: 41px!important;
}

.linkRed, .linkRed:before {
	color: #5e5e5e!important;
}

.preloader {
	background-color: #fff;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999999;
	-webkit-transition: .6s;
	-o-transition: .6s;
	transition: .6s;
	margin: 0 auto
}

.preloader .preloader-circle {
	width: 100px;
	height: 100px;
	position: relative;
	border-style: solid;
	border-width: 1px;
	border-top-color: #00a49d;
	border-bottom-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
	z-index: 10;
	border-radius: 50%;
	-webkit-box-shadow: 0 1px 5px 0 rgba(35, 181, 185, 0.15);
	box-shadow: 0 1px 5px 0 rgba(35, 181, 185, 0.15);
	background-color: #fff;
	-webkit-animation: zoom 2000ms infinite ease;
	animation: zoom 2000ms infinite ease;
	-webkit-transition: .6s;
	-o-transition: .6s;
	transition: .6s
}

.preloader .preloader-circle2 {
	border-top-color: #0078ff
}

.preloader .preloader-img {
	position: absolute;
	top: 50%;
	z-index: 200;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
	display: inline-block;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	padding-top: 6px;
	-webkit-transition: .6s;
	-o-transition: .6s;
	transition: .6s
}

.preloader .preloader-img img {
	max-width: 55px
}

.preloader .pere-text strong {
	font-weight: 800;
	color: #dca73a;
	text-transform: uppercase
}

@-webkit-keyframes zoom {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .6s;
		-o-transition: .6s;
		transition: .6s
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		-webkit-transition: .6s;
		-o-transition: .6s;
		transition: .6s
	}
}

@keyframes zoom {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .6s;
		-o-transition: .6s;
		transition: .6s
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		-webkit-transition: .6s;
		-o-transition: .6s;
		transition: .6s
	}
}

.inv {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1); 
	-webkit-transform: scaleX(-1); 
	transform: scaleX(-1); 
}

body.mini-navbar .navbar-static-side,
body.mini-navbar .navbar-static-side .sidebar-collapse,
body.mini-navbar .navbar-static-side .sidebar-collapse .metis-menu,
body.mini-navbar .navbar-static-side .sidebar-collapse .metis-menu nav-header
{
	width: 70px;
}

@media only screen and (max-width: 1000px) and (min-width: 10px) {
	#mainNav, #mainNav-7, #mainNav-20 {
		display: none;
	}
	#mainNav-3, #mainNav-6, #mainNav-21 {
		display: block;
	}
	.respDivDesk {
		display: block!important;
	}
	.respDiv {
		display: none;
	}
	.sector-1 {
		background-color: white!important;
	}
	.ora-st {
		color: #1a4a84!important;
		text-align: center!important;
		font-size: 35px!important;
	}
	.mobileapp {
		font-size: 22px!important;
	}
	.mobilerow {
		text-align: center!important;
	}
	.mobilerow .st-line-only{
		width: 100%;
	}
	#mainNav-5 {
		min-width: 100%;
	}
	.mobilefoot {
		display: none!important;
	}
	.mobilefoota {
		display: block!important;
	}
	.mobilefoot .logo-pie .detalle-right{
		display: none!important;
	}
	.anc_obja{
		max-width: 100%!important;
		min-width: 100%!important;
	}
	.anc_obj {
		max-width: 90%!important;
	}
	.bc-ruta, .bc-ruta-1, .bc-ruta-2 {
		background-image: none!important;
	}
	.bc-sub-ruta{
		background-image: none!important;
	}

	.bc-sub-ruta-1{
		background-image: none!important;
	}
	.st-line {
		font-size: 15px!important;
	}
	.st-lines {
		font-size: 11px!important;
	}
	.text-info-mini, .negrita  {
		font-size: 10px!important;
	}
	.text-info-mini-rr  {
		font-size: 13px!important;
	}
	.negrita-extra  {
		font-size: 13px!important;
	}
	.text-info-minis, .negritas  {
		font-size: 16px!important;
	}
	.negritas-extra  {
		font-size: 19px!important;
	}
	.st-lf-iv {
		left: 0px;
	}
	video, iframe {
		/*height: 360px;
		width: 300px;*/
		height: 150px;
		width: 233px;
		margin: 0 auto;
	}
	.st-bl {
		background-color: white!important;
		font-size: 8px!important;
		color: black!important;
	}
	.bk-fnd {
		background-image: url(/uploads/pico_y_placa/logo-pie-2.png);
		background-repeat: no-repeat;
		background-position: bottom right;	
	}
	.logo-pie {
		height: 83px;
	}
	.mobileappt {
		font-size: 15px!important;
	}
	.st-lf-sn {
		left: 15%;
	}
	.text-tab {
		font-size: 15px!important;
	}
	.vinetali {
		color: #1A4A84!important;
		font-size: 1.5rem;
	}
	.col-right-ren {
		text-align: center!important;
	}
	.col-left-ren {
		text-align: center!important;
	}
	
	h4.headertekst {
		font-size: 10px!important;
	}
	h2.headertekst {
		font-size: 15px!important;
	}
	.render-text-left {
		text-align: center!important;
	}
	.img-med {
		display:block;
		margin:auto;
		vertical-align: middle;
		float: none;
	}
	.render-ico {
		width: 41px!important;
		height: 40px!important;
	}
	.tr-redim, .tr-redim-img {
		width: 40px!important;
	}
	.tr-redim-imgglosn {
		width: 80px!important;
	}

	.render-foto {
		width: 296px!important;
		height: 200px!important;
	}

	.render-foto-1 {
		width: 253px!important;
		height: 200px!important;
	}	
	
	.imgMunlima {
		/* width: 299px!important; */
		/* height: 89px!important; */
		width: 168px!important;
		height: 50px!important;
	}
	
	.fondoLimaLab {
		background-image: none!important;
	}	
	
	.borderlimalab {
		border-bottom: 0px!important;
	}	
	
	.centTab {
		width: 70%!important;
		margin-left: 15%!important;
		margin-right: 15%!important;
	}

	.render-whit {
		background-color: white!important;
	}
	.divider-custom .divider-custom-line-5 {
		width: 20%;
		max-width: 20%;
	}	
	
	.td-resp {
		width:100%!important;
	}
	.modalResp {
		 max-width: 100%!important;
	}
	
	.azul-mml{
		background-color: #004789!important;
	}
	.despAvi {
		width: 30%!important;
	}
	.despAviCompany {
		width: 30%!important;
	}
	/* .rendTitle { */
		/* font-size: 2rem!important; */
	/* } */
	.rendTitle {
		font-size: 15px!important;
	}
	.rendTitlea {
		font-size: 15px!important;
	}
	.render-gran-width-mmax {
		max-width: 100%!important;
	}
	.mapaResp {
		height:350px!important;
	}
	.imgPopUp {
		/*max-height: 500px;width: auto;*/
		max-width: 350px!important;
		height: auto;	
	}
	.stCol {
		text-align: center;
	}
	.btn-lg {
		font-size: 16px!important;
	}
	.indicadorLicP {
		font-size: 20px!important;
	}
	.indicadorLicA {
		font-size: 20px!important;
	}
	.indicadorLicN {
		font-size: 20px!important;
	}
	.indicadorLicC {
		font-size: 20px!important;
	}
	.modal-footer, .modal-body {
		padding: 1rem 1rem!important;
	}
	.tarjetaLice {
		font-size: 20px!important;
		font-weight: bold!important;
	}
	.form-group {
		font-size: 11px!important;
	}
	.select2-container{
		/*width: 100%!important;*/
		width: 200px!important;
	}
	.redCol{
		padding-right: 0px!important;
		padding-left: 0px!important;
	}
	.render-letterSubtTitleExT {
		font-size: 20px!important;;
	}	
	.text-azes {
		font-size: 12px!important;
	}
	.tr-redim {
		vertical-align: middle!important;
	}

	.ulRef {
		padding: 0px!important;
	}
	.forMap {
		padding: 0px!important
	}
	.csText {
		width: 100%!important;
	}
	.jcc {
		-webkit-box-pack: center!important;
		-ms-flex-pack: center!important;
		justify-content: center!important;
	}
	#en_vivo {
		font-size: 26px!important;
	}
	.render-gran-width-lmax {
		max-width: 90%!important;	
	}
	.bar-cel{
		background-color: #00a39c!important;
		border-width: inherit;
		color: white!important;
		font-size: 30px!important;
	}
	.popustSombra {position:fixed; width: 100%; height: 0; background: rgba(0, 0, 0, 0.51); z-index: 10000; transition: all linear 0.2s;}
	.popupOpen{height: 100%;}
	.text-left {
		text-align: center!important;
	}
	.txtCelF {
		text-align: center;
	}
	.infoText {
		font-size: 20px!important;
	}
	.render-icomax {
		width: 61px!important;
		height: 60px!important;
	}
	.pad-ajus {
		padding: 0px 15px!important;
	}
	/* .input-group { */
		/* margin: 0px!important; */
		/* text-align: center!important; */
	/* } */
	.text-info-mini-lt {
		font-size: 10px!important;
	}
	.negrita-lt {
		font-size: 10px!important;
	}
	.lhg {
		line-height: 30px!important;
	}
	.lh {
		line-height: 20px!important;
	}
	.lha {
		line-height: 15px!important;
	}
	.ancImg {
		width: 20px!important;
	}
	.text-info-mini-rrl {
		font-size: 20px!important;
	}
	.appbor {
		border-radius: 30px;
	}
	.aappbor {
		border-radius: 0px;
	}
	.txt-titf-sb {
		font-size: 10px!important;
	}
	.imgCort {
		width: 15px!important;
		height: 15px!important;
		vertical-align: top;
	}
	.st-bla {
		font-size: 10px!important;
	}
	.imgCortmail {
		width: 30px!important;
		height: 30px!important;
	}
	.txt-titf-laa {
		font-size: 15px!important;
	}
	.infotr {
		padding: 1px 0px!important;
	}
	.infotrmov {
		padding: 1px 0px!important;
	}
	.text-medmov {
		text-align: center;
	}
	.ancImgL {
		width: 45px!important;
	}
	.line-td-refa {
		line-height: 10px!important;
	}
	.himg {
		height: 35px!important;
	}
	.text-info-mini-rra {
		font-size: 18px!important;
	}
	.infoTextG {
		font-size: 12px!important;
	}
	.infoCab {
		font-size: 17px!important;
		line-height: 2.5rem!important;
	}
	.infoSubCab {
		font-size: 13px!important;
	}
	.infoTextL {
		font-size: 14px!important;
		color: black!important;
		line-height: 2.5rem!important;
	}
	.infoTextLA {
		color: #1a4a84!important;
		font-size: 12px!important;
	}
	.imgRedimLar {
		width: 60px!important;
		height: 64px!important;
	}
	.imgGr {
		height: 225px!important;
	}
	.stImgLon {
		width: 277px!important;
		height: 20px!important;
	}
	.stImgOpt {
		height: 110px!important;
		width: 97px!important;
	}
	.alCol {
		width: 50%!important;
	}
	.text-azul, .text-verde {
		font-size: 20px!important;
	}
	.swal2-popup{
		width:100% !important;
	}
	.bkcaspf {
		background-image: none!important;
	}
	.stTdg {
		width: 50px!important;
	}
	.render-ico-cpf {
		height: 30px!important;
	}
	.stTdRRs {
		margin-left: 0px!important;
		margin-right: 0px!important;
	}
}
